In [1]:
import pandas as pd

In [4]:
X_train = pd.read_csv("midterm_train.csv")

In [5]:
X_test = pd.read_csv("midterm_test.csv")

In [6]:
X_test.describe()

          Unnamed: 0          Loan_ID      Borrower_ID  Monthly_Payment
count  117987.000000    117987.000000    117987.000000    117987.000000
mean    58993.000000  13192185.767390  14718310.362506       432.902721
std     34060.057443  10914425.400505  11699633.091690       243.303335
min         0.000000     57245.000000     73673.000000        16.470000
25%     29496.500000   3701986.000000   4582226.500000       257.050000
50%     58993.000000  10130960.000000  11964760.000000       381.040000
75%     88489.500000  20782505.000000  23052289.000000       567.190000
max    117986.000000  37841931.000000  40605012.000000      1408.130000

In [7]:
X_test.columns

Index([u'Unnamed: 0', u'Loan_ID', u'Borrower_ID', u'Loan_Amount_Requested',
       u'Loan_Amount_Funded', u'Loan_Amount_Funded_by_Investors',
       u'Initial_Loan_Term_Months', u'Monthly_Payment', u'Loan_Grade',
       u'Sub_Loan_Grade', u'Employer', u'Length_Employed', u'Home_Owner?',
       u'Annual_Income', u'Income_Verified', u'Month_Issued',
       u'Current_Status', u'Payment_Plan_Ind', u'Loan_Description',
       u'Purpose_Of_Loan', u'Loan_Title', u'Zip_3', u'State',
       u'Debt_To_Income', u'Number_Delinqueny_2yrs', u'Month_Earliest_Credit',
       u'Inquiries_Last_6Mo', u'Months_Since_Deliquency',
       u'Months_Since_Record', u'Number_Open_Accounts', u'Public_Record_Count',
       u'Revolving_Balance', u'Revolving_Utilization', u'Total_Accounts',
       u'Initial_Status', u'Outstanding_Principal',
       u'Outstanding_Principal_Remaining', u'Total_Payment',
       u'Total_Payment_Funded', u'Total_Received', u'Total_Received_Interest',
       u'Total_Received_Late_Fees', u'Recoveries', u'Collection_Recovery_Fee',
       u'Last_Payment_Received', u'Last_Payment_Total', u'Next_Payment_Date',
       u'Last_Credit_Pulled', u'Collections_12Mo_Exclude_Med',
       u'Months_Since_Last_Derogatory', u'Policy_Code'],
      dtype='object')

In [8]:
X_test.shape

(117987, 51)

##Loan_ID

In [9]:
X_train[X_train.Loan_ID.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [10]:
X_train.Loan_ID.astype(float)

0            54734
1            55742
2            57167
3            57416
4            58524
5            59006
6            61390
7            62102
8            65426
9            66431
10           66749
11           66964
12           67503
13           68163
14           68381
15           68817
16           68926
17           69001
18           69124
19           69168
20           69251
21           69550
22           69828
23           69924
24           69990
25           70348
26           76597
27           84918
28           88854
29           90376
            ...
324447    37840854
324448    37840885
324449    37840979
324450    37841007
324451    37841045
324452    37841134
324453    37841174
324454    37841183
324455    37841237
324456    37841276
324457    37841307
324458    37841314
324459    37841343
324460    37841350
324461    37841375
324462    37841428
324463    37841429
324464    37841472
324465    37841535
324466    37841552
324467    37841570
324468    37841594
324469    37841668
324470    37841841
324471    37842129
324472    37854137
324473    37854157
324474    37854423
324475    37854444
324476    38098114
Name: Loan_ID, dtype: float64

##Borrower_ID

In [11]:
X_train[X_train.Borrower_ID.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [12]:
X_train = X_train.drop('Borrower_ID', axis=1)

##Loan_Amount_Requested

In [13]:
X_train.Loan_Amount_Requested = X_train.Loan_Amount_Requested.str.replace('$','')

In [14]:
X_train.Loan_Amount_Requested = X_train.Loan_Amount_Requested.str.replace(',','')

In [15]:
X_train.Loan_Amount_Requested = X_train.Loan_Amount_Requested.astype(float)

In [16]:
X_train[X_train.Loan_Amount_Requested.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 50 columns]

##Loan_Amount_Funded

In [17]:
X_train.Loan_Amount_Funded = X_train.Loan_Amount_Funded.str.replace('$','')

In [18]:
X_train.Loan_Amount_Funded = X_train.Loan_Amount_Funded.str.replace(',','')

In [19]:
X_train.Loan_Amount_Funded = X_train.Loan_Amount_Funded.astype(float)

In [20]:
X_train[X_train.Loan_Amount_Funded.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 50 columns]

##Loan_Amount_Funded_by_Investors

In [21]:
X_train.Loan_Amount_Funded_by_Investors = X_train.Loan_Amount_Funded_by_Investors.str.replace('$','')

In [22]:
X_train.Loan_Amount_Funded_by_Investors = X_train.Loan_Amount_Funded_by_Investors.str.replace(',','')

In [23]:
X_train.Loan_Amount_Funded_by_Investors = X_train.Loan_Amount_Funded_by_Investors.astype(float)

In [24]:
X_train[X_train.Loan_Amount_Funded_by_Investors.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 50 columns]

# Initial_Loan_Term_Months

In [25]:
X_train.Initial_Loan_Term_Months = X_train.Initial_Loan_Term_Months.str.replace(' months','')

In [26]:
X_train.Initial_Loan_Term_Months.unique()

array([' 36', ' 60'], dtype=object)

In [27]:
X_train[X_train.Initial_Loan_Term_Months.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 50 columns]

In [28]:
variable = 'Initial_Loan_Term_Months'
#Fill Missing Values
X_train[variable].fillna("Missing", inplace=True)
#Create dummy array
dummies = pd.get_dummies(X_train[variable], prefix=variable)
print dummies
X_train = pd.concat([X_train, dummies], axis=1)

        Initial_Loan_Term_Months_ 36  Initial_Loan_Term_Months_ 60
0                                  1                             0
1                                  1                             0
2                                  1                             0
3                                  1                             0
4                                  1                             0
5                                  1                             0
6                                  1                             0
7                                  1                             0
8                                  1                             0
9                                  1                             0
10                                 1                             0
11                                 1                             0
12                                 1                             0
13                                 1                             0
14                                 1                             0
15                                 1                             0
16                                 1                             0
17                                 1                             0
18                                 1                             0
19                                 1                             0
20                                 1                             0
21                                 0                             1
22                                 1                             0
23                                 1                             0
24                                 1                             0
25                                 1                             0
26                                 1                             0
27                                 1                             0
28                                 1                             0
29                                 1                             0
...                              ...                           ...
324447                             1                             0
324448                             1                             0
324449                             1                             0
324450                             1                             0
324451                             1                             0
324452                             0                             1
324453                             0                             1
324454                             1                             0
324455                             1                             0
324456                             1                             0
324457                             1                             0
324458                             1                             0
324459                             1                             0
324460                             1                             0
324461                             1                             0
324462                             1                             0
324463                             1                             0
324464                             1                             0
324465                             0                             1
324466                             1                             0
324467                             0                             1
324468                             1                             0
324469                             1                             0
324470                             1                             0
324471                             0                             1
324472                             1                             0
324473                             1                             0
324474                             1                             0
324475                             0                             1
324476                             0                             1

[324477 rows x 2 columns]

In [29]:
X_train.drop(['Initial_Loan_Term_Months'], axis=1)

,Interest_Rate,Loan_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,Employer,Length_Employed,...,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code,Initial_Loan_Term_Months_ 36,Initial_Loan_Term_Months_ 60
0,11.89%,54734,25000,25000,19080,829.10,B,B4,NaN,< 1 year,...,0.0,Oct-11,7392.08,NaN,Aug-12,0,NaN,1,1,0
1,10.71%,55742,7000,7000,673,228.22,B,B5,CNN,< 1 year,...,0.0,Jun-11,228.48,NaN,Aug-12,0,NaN,1,1,0
2,16.99%,57167,25000,25000,24725,891.20,D,D3,Web Programmer,1 year,...,0.0,Dec-14,935.76,NaN,Apr-15,0,NaN,1,1,0
3,13.57%,57416,10800,10800,10692,366.86,C,C3,State Farm Insurance,6 years,...,0.0,Nov-12,398,NaN,Jun-15,0,NaN,1,1,0
4,19.05%,58524,7200,7200,7200,264.11,D,D4,Arkwright,9 years,...,0.0,Jun-14,3559.18,NaN,Dec-14,0,30,1,1,0
5,14.26%,59006,3000,3000,2988,102.92,C,C5,NaN,3 years,...,0.0,Oct-12,111.23,NaN,Sep-12,0,NaN,1,1,0
6,7.88%,61390,4000,4000,3900,125.13,A,A5,NaN,< 1 year,...,0.0,Mar-12,1454.31,NaN,Mar-12,0,NaN,1,1,0
7,9.88%,62102,3200,3200,3200,103.08,B,B1,Rockwell Automation Inc.,5 years,...,0.0,Feb-11,2592.23,NaN,Mar-13,0,NaN,1,1,0
8,11.14%,65426,4000,4000,3892,131.22,B,B1,"Infotrieve, Inc.",< 1 year,...,0.0,Jun-11,131.22,NaN,Oct-11,0,NaN,1,1,0
9,12.21%,66431,2525,2525,2375,84.12,B,B5,Video Monitoring Services,3 years,...,0.0,Mar-12,89.75,NaN,Mar-12,0,NaN,1,1,0
10,13.47%,66749,10625,10625,5325,360.43,C,C4,crown cork & seal,10+ years,...,0.0,Jan-12,370.44,NaN,Dec-11,0,NaN,1,1,0
11,13.24%,66964,7500,7500,986,253.58,D,D3,Acquity,3 years,...,0.0,Jun-11,253.87,NaN,Jun-11,0,NaN,1,1,0
12,8.59%,67503,10000,10000,10000,316.11,A,A4,Genesys PHO,1 year,...,0.0,Feb-12,3064.45,NaN,Feb-14,0,NaN,1,1,0
13,7.14%,68163,3000,3000,3000,92.82,A,A3,Matrix Resources,9 years,...,0.0,Feb-13,97.75,NaN,Feb-13,0,NaN,1,1,0
14,8.63%,68381,6625,6625,6475,209.54,A,A5,Albertsons,< 1 year,...,0.0,Mar-11,424.12,NaN,Mar-15,0,NaN,1,1,0
15,11.03%,68817,10000,10000,2475,327.53,C,C1,CAROLINA BROKERAGE CO,10+ years,...,0.0,Sep-10,23.15,NaN,Sep-10,0,NaN,1,1,0
16,NaN,68926,2300,2300,590,77.69,D,D2,UBS,10+ years,...,0.0,Sep-11,77.78,NaN,Jun-15,0,NaN,1,1,0
17,8.94%,69001,15000,15000,14875,476.58,A,A5,NaN,< 1 year,...,0.0,Jul-12,1919.13,NaN,Jul-12,0,NaN,1,1,0
18,10.39%,69124,18000,18000,11636,584.12,B,B4,Cellnetix Pathology,10+ years,...,0.0,Apr-11,598.22,NaN,Jun-15,0,NaN,1,1,0
19,15.13%,69168,5000,5000,4975,173.65,E,E4,BJ OIL SERVICE COMPANY,2 years,...,0.0,Apr-11,184.81,NaN,Dec-13,0,NaN,1,1,0
20,8.00%,69251,6000,6000,500,188.02,A,A3,NaN,< 1 year,...,0.0,May-11,189.36,NaN,May-11,0,NaN,1,1,0
21,15.33%,69550,11200,11200,11188,268.40,D,D3,Witron Intergrated logistics,2 years,...,0.0,Aug-14,2816.71,NaN,Jun-15,0,NaN,1,0,1
22,8.63%,69828,15000,15000,13138,474.42,A,A5,State of Michigan,10+ years,...,0.0,Aug-11,38.2,NaN,Aug-11,0,NaN,1,1,0
23,13.55%,69924,10000,10000,8790,339.60,D,D4,GAP,3 years,...,0.0,Apr-11,359.55,NaN,Jun-15,0,NaN,1,1,0
24,NaN,69990,15500,15500,14400,484.85,A,A5,Diageo North America,< 1 year,...,0.0,Feb-13,472.56,NaN,Feb-13,0,NaN,1,1,0
25,12.29%,70348,9600,9600,9265,320.19,C,C5,City Lights LTD,4 years,...,0.0,May-10,3773.06,NaN,Jun-15,0,NaN,1,1,0
26,9.01%,76597,5000,5000,1775,159.03,B,B2,Ping Interactive,1 year,...,0.0,Jul-10,160.61,NaN,Jul-10,NaN,NaN,1,1,0
27,7.43%,84918,5000,5000,2025,155.38,A,A2,Revere Public Schools,10+ years,...,0.0,Apr-08,4268.52,NaN,Jun-07,NaN,NaN,1,1,0
28,7.43%,88854,5000,5000,225,155.38,A,A2,Rail Europe Group,4 years,...,0.0,Mar-08,0,NaN,May-07,NaN,NaN,1,1,0
29,7.43%,90376,5000,5000,650,155.38,A,A2,NaN,< 1 year,...,0.0,Jan-08,0,NaN,Jun-07,NaN,NaN,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,8.19%,37840854,7000,7000,7000,219.97,A,A5,Finance / Operations,1 year,...,0,Jun-15,219.97,Jul-15,Jun-15,0,64,1,1,0
324448,19.24%,37840885,35000,35000,35000,1287.22,E,E2,Investment Specialist,1 year,...,0,Jun-15,1287.22,Jul-15,Jun-15,0,NaN,1,1,0
324449,11.99%,37840979,20000,20000,20000,664.20,B,B5,SERVICE ADVISOR,3 years,...,0,Jun-15,664.2,Jul-15,Jun-15,0,NaN,1,1,0
324450,12.99%,37841007,15000,15000,15000,505.34,C,C2,corporate catering supervisor,10+ years,...,0,Jun-15,505.34,Jul-15,Jun-15,0,NaN,1,1,0
324451,8.19%,37841045,19200,19200,19200,603.35,NaN,NaN,Senior Business Analyst,2 years,...,0,Jun-15,603.35,Jul-15,Jun-15,0,NaN,1,1,0
324452,19.24%,37841134,14000,14000,14000,365.02,E,E2,Corrections officer,8 years,...,0,Jun-15,383.27,Jul-15,Jun-15,0,NaN,1,0,1
324453,8.67%,37841174,12500,12500,12500,257.49,B,B1,Electronic System Engineer,10+ years,...,0,Jun-15,257.49,Jul-15,Jun-15,0,NaN,1,0,1
324454,16.49%,37841183,6000,6000,6000,212.40,D,D3,Federal Officer,7 years,...,0,Jun-15,212.4,Jul-15,Jun-15,0,NaN,1,1,0
324455,6.99%,37841237,28000,28000,28000,864.44,A,A3,CCO,1 year,...,0,Jun-15,864.44,Jul-15,Jun-15,0,NaN,1,1,0
324456,19.24%,37841276,16750,16750,16750,616.03,E,E2,sales person,< 1 year,...,0,Feb-15,16665.52,NaN,Mar-15,0,NaN,1,1,0
324457,10.49%,37841307,9600,9600,9600,311.98,B,B3,REGISTERED NURSE,6 years,...,0,Jun-15,311.98,Jul-15,Jun-15,0,42,1,1,0
324458,15.59%,37841314,1000,1000,1000,34.96,D,D1,MERC WORKLOAD CLERK,10+ years,...,0,Jun-15,34.96,Jul-15,Jun-15,0,NaN,1,1,0
324459,8.19%,37841343,8000,8000,8000,251.40,A,A5,prop maker,1 year,...,0,Jun-15,251.4,Jul-15,Jun-15,0,NaN,1,1,0
324460,9.49%,37841350,26000,26000,26000,832.74,B,B2,NaN,n/a,...,0,Jun-15,832.74,Jul-15,Jun-15,0,59,1,1,0
324461,7.49%,37841375,7000,7000,7000,217.72,A,A4,Draftsman,7 years,...,0,Jun-15,217.72,Jul-15,Jun-15,0,NaN,1,1,0
324462,9.49%,37841428,4000,4000,4000,128.12,B,B2,Installer,10+ years,...,0,Jun-15,128.12,Jul-15,Jun-15,0,NaN,1,1,0
324463,11.99%,37841429,24000,24000,24000,797.03,B,B5,Account executive,1 year,...,0,Jun-15,797.03,Jul-15,Jun-15,0,NaN,1,1,0
324464,8.67%,37841472,10000,10000,10000,316.47,NaN,NaN,Communications Manager,2 years,...,0,Jun-15,316.47,Jul-15,Jun-15,0,NaN,1,1,0
324465,19.24%,37841535,11000,11000,11000,286.81,E,E2,Social Worker,1 year,...,0,May-15,286.81,Jul-15,Jun-15,1,NaN,1,0,1
324466,12.39%,37841552,8000,8000,8000,267.21,NaN,NaN,associate,< 1 year,...,0,Jun-15,267.21,Jul-15,Jun-15,0,NaN,1,1,0
324467,NaN,37841570,24000,24000,24000,616.52,NaN,NaN,Business Analyst,4 years,...,0,Jun-15,616.52,Jul-15,Jun-15,0,51,1,0,1
324468,11.44%,37841594,11000,11000,11000,362.43,B,B4,Director,3 years,...,0,Jun-15,362.43,Jul-15,Jun-15,0,NaN,1,1,0
324469,14.99%,37841668,28000,28000,28000,970.50,C,C5,Vice President of Video Services,3 years,...,0,Jun-15,970.5,Jul-15,Jun-15,0,13,1,1,0
324470,10.49%,37841841,5500,5500,5500,178.74,B,B3,NaN,n/a,...,0,Jun-15,178.74,Jul-15,Jun-15,0,NaN,1,1,0
324471,15.59%,37842129,21425,21425,21425,516.36,D,D1,Programming Analysis Supervisor,6 years,...,0,Jun-15,516.36,Jul-15,Jun-15,0,74,1,0,1
324472,8.19%,37854137,4000,4000,4000,125.70,A,A5,Program Assistant,< 1 year,...,0,Jun-15,125.7,Jul-15,Jun-15,0,NaN,1,1,0
324473,11.44%,37854157,12000,12000,12000,395.37,B,B4,Construction Scheduler,3 years,...,0,Jun-15,395.37,Jul-15,Jun-15,0,35,1,1,0
324474,15.99%,37854423,2000,2000,2000,70.31,D,D2,Student Services Coordinator,7 years,...,0,Jun-15,70.31,Jul-15,Jun-15,0,NaN,1,1,0
324475,11.44%,37854444,16000,16000,16000,351.40,NaN,NaN,Foreign Service Officer,6 years,...,0,Jun-15,351.4,Jul-15,Jun-15,0,NaN,1,0,1
324476,12.39%,38098114,15000,15000,15000,336.64,C,C1,MANAGEMENT,10+ years,...,0,Jun-15,336.64,Jul-15,Jun-15,0,NaN,1,0,1

# Monthly_Payment

In [30]:
X_train[X_train.Monthly_Payment.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Initial_Loan_Term_Months_ 36, Initial_Loan_Term_Months_ 60]
Index: []

[0 rows x 52 columns]

In [31]:
X_train.Monthly_Payment.unique()

array([ 829.1 ,  228.22,  891.2 , ...,  598.07,  832.74,  516.36])

In [32]:
X_train.Monthly_Payment.astype(float)

0          829.10
1          228.22
2          891.20
3          366.86
4          264.11
5          102.92
6          125.13
7          103.08
8          131.22
9           84.12
10         360.43
11         253.58
12         316.11
13          92.82
14         209.54
15         327.53
16          77.69
17         476.58
18         584.12
19         173.65
20         188.02
21         268.40
22         474.42
23         339.60
24         484.85
25         320.19
26         159.03
27         155.38
28         155.38
29         155.38
           ...
324447     219.97
324448    1287.22
324449     664.20
324450     505.34
324451     603.35
324452     365.02
324453     257.49
324454     212.40
324455     864.44
324456     616.03
324457     311.98
324458      34.96
324459     251.40
324460     832.74
324461     217.72
324462     128.12
324463     797.03
324464     316.47
324465     286.81
324466     267.21
324467     616.52
324468     362.43
324469     970.50
324470     178.74
324471     516.36
324472     125.70
324473     395.37
324474      70.31
324475     351.40
324476     336.64
Name: Monthly_Payment, dtype: float64

##Loan_Grade

In [37]:
X_train.Loan_Grade.unique()

array(['B', 'D', 'C', 'A', 'E', 'F', '0', 'G', nan], dtype=object)

In [38]:
X_train.Loan_Grade = X_train.Loan_Grade.str.replace('0', 'Missing')

In [39]:
X_train.Loan_Grade.unique()

array(['B', 'D', 'C', 'A', 'E', 'F', 'Missing', 'G', nan], dtype=object)

In [40]:
variable = 'Loan_Grade'
X_train[variable].fillna("Missing", inplace=True)
#Create dummy array
dummies = pd.get_dummies(X_train[variable], prefix=variable)
X_train = pd.concat([X_train, dummies], axis=1)

In [41]:
X_train.drop(['Loan_Grade'], axis=1)

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Sub_Loan_Grade,Employer,...,Initial_Loan_Term_Months_ 36,Initial_Loan_Term_Months_ 60,Loan_Grade_A,Loan_Grade_B,Loan_Grade_C,Loan_Grade_D,Loan_Grade_E,Loan_Grade_F,Loan_Grade_G,Loan_Grade_Missing
0,11.89%,54734,80364,25000,25000,19080,36,829.10,B4,NaN,...,1,0,0,1,0,0,0,0,0,0
1,10.71%,55742,114426,7000,7000,673,36,228.22,B5,CNN,...,1,0,0,1,0,0,0,0,0,0
2,16.99%,57167,137225,25000,25000,24725,36,891.20,D3,Web Programmer,...,1,0,0,0,0,1,0,0,0,0
3,13.57%,57416,139635,10800,10800,10692,36,366.86,C3,State Farm Insurance,...,1,0,0,0,1,0,0,0,0,0
4,19.05%,58524,149512,7200,7200,7200,36,264.11,D4,Arkwright,...,1,0,0,0,0,1,0,0,0,0
5,14.26%,59006,154254,3000,3000,2988,36,102.92,C5,NaN,...,1,0,0,0,1,0,0,0,0,0
6,7.88%,61390,182594,4000,4000,3900,36,125.13,A5,NaN,...,1,0,1,0,0,0,0,0,0,0
7,9.88%,62102,191024,3200,3200,3200,36,103.08,B1,Rockwell Automation Inc.,...,1,0,0,1,0,0,0,0,0,0
8,11.14%,65426,232106,4000,4000,3892,36,131.22,B1,"Infotrieve, Inc.",...,1,0,0,1,0,0,0,0,0,0
9,12.21%,66431,243540,2525,2525,2375,36,84.12,B5,Video Monitoring Services,...,1,0,0,1,0,0,0,0,0,0
10,13.47%,66749,246329,10625,10625,5325,36,360.43,C4,crown cork & seal,...,1,0,0,0,1,0,0,0,0,0
11,13.24%,66964,247990,7500,7500,986,36,253.58,D3,Acquity,...,1,0,0,0,0,1,0,0,0,0
12,8.59%,67503,252415,10000,10000,10000,36,316.11,A4,Genesys PHO,...,1,0,1,0,0,0,0,0,0,0
13,7.14%,68163,258249,3000,3000,3000,36,92.82,A3,Matrix Resources,...,1,0,1,0,0,0,0,0,0,0
14,8.63%,68381,260179,6625,6625,6475,36,209.54,A5,Albertsons,...,1,0,1,0,0,0,0,0,0,0
15,11.03%,68817,264119,10000,10000,2475,36,327.53,C1,CAROLINA BROKERAGE CO,...,1,0,0,0,1,0,0,0,0,0
16,NaN,68926,264924,2300,2300,590,36,77.69,D2,UBS,...,1,0,0,0,0,1,0,0,0,0
17,8.94%,69001,265533,15000,15000,14875,36,476.58,A5,NaN,...,1,0,1,0,0,0,0,0,0,0
18,10.39%,69124,266619,18000,18000,11636,36,584.12,B4,Cellnetix Pathology,...,1,0,0,1,0,0,0,0,0,0
19,15.13%,69168,266943,5000,5000,4975,36,173.65,E4,BJ OIL SERVICE COMPANY,...,1,0,0,0,0,0,1,0,0,0
20,8.00%,69251,267771,6000,6000,500,36,188.02,A3,NaN,...,1,0,1,0,0,0,0,0,0,0
21,15.33%,69550,270212,11200,11200,11188,60,268.40,D3,Witron Intergrated logistics,...,0,1,0,0,0,1,0,0,0,0
22,8.63%,69828,272798,15000,15000,13138,36,474.42,A5,State of Michigan,...,1,0,1,0,0,0,0,0,0,0
23,13.55%,69924,274280,10000,10000,8790,36,339.60,D4,GAP,...,1,0,0,0,0,1,0,0,0,0
24,NaN,69990,275254,15500,15500,14400,36,484.85,A5,Diageo North America,...,1,0,1,0,0,0,0,0,0,0
25,12.29%,70348,280311,9600,9600,9265,36,320.19,C5,City Lights LTD,...,1,0,0,0,1,0,0,0,0,0
26,9.01%,76597,76583,5000,5000,1775,36,159.03,B2,Ping Interactive,...,1,0,0,1,0,0,0,0,0,0
27,7.43%,84918,84914,5000,5000,2025,36,155.38,A2,Revere Public Schools,...,1,0,1,0,0,0,0,0,0,0
28,7.43%,88854,70699,5000,5000,225,36,155.38,A2,Rail Europe Group,...,1,0,1,0,0,0,0,0,0,0
29,7.43%,90376,89243,5000,5000,650,36,155.38,A2,NaN,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,8.19%,37840854,40603714,7000,7000,7000,36,219.97,A5,Finance / Operations,...,1,0,1,0,0,0,0,0,0,0
324448,19.24%,37840885,40603759,35000,35000,35000,36,1287.22,E2,Investment Specialist,...,1,0,0,0,0,0,1,0,0,0
324449,11.99%,37840979,40603881,20000,20000,20000,36,664.20,B5,SERVICE ADVISOR,...,1,0,0,1,0,0,0,0,0,0
324450,12.99%,37841007,40603919,15000,15000,15000,36,505.34,C2,corporate catering supervisor,...,1,0,0,0,1,0,0,0,0,0
324451,8.19%,37841045,40603969,19200,19200,19200,36,603.35,NaN,Senior Business Analyst,...,1,0,0,0,0,0,0,0,0,1
324452,19.24%,37841134,40604074,14000,14000,14000,60,365.02,E2,Corrections officer,...,0,1,0,0,0,0,1,0,0,0
324453,8.67%,37841174,40604121,12500,12500,12500,60,257.49,B1,Electronic System Engineer,...,0,1,0,1,0,0,0,0,0,0
324454,16.49%,37841183,40604130,6000,6000,6000,36,212.40,D3,Federal Officer,...,1,0,0,0,0,1,0,0,0,0
324455,6.99%,37841237,40604193,28000,28000,28000,36,864.44,A3,CCO,...,1,0,1,0,0,0,0,0,0,0
324456,19.24%,37841276,40604243,16750,16750,16750,36,616.03,E2,sales person,...,1,0,0,0,0,0,1,0,0,0
324457,10.49%,37841307,40604282,9600,9600,9600,36,311.98,B3,REGISTERED NURSE,...,1,0,0,1,0,0,0,0,0,0
324458,15.59%,37841314,40604289,1000,1000,1000,36,34.96,D1,MERC WORKLOAD CLERK,...,1,0,0,0,0,1,0,0,0,0
324459,8.19%,37841343,40604323,8000,8000,8000,36,251.40,A5,prop maker,...,1,0,1,0,0,0,0,0,0,0
324460,9.49%,37841350,40604331,26000,26000,26000,36,832.74,B2,NaN,...,1,0,0,1,0,0,0,0,0,0
324461,7.49%,37841375,40604359,7000,7000,7000,36,217.72,A4,Draftsman,...,1,0,1,0,0,0,0,0,0,0
324462,9.49%,37841428,40604426,4000,4000,4000,36,128.12,B2,Installer,...,1,0,0,1,0,0,0,0,0,0
324463,11.99%,37841429,40604427,24000,24000,24000,36,797.03,B5,Account executive,...,1,0,0,1,0,0,0,0,0,0
324464,8.67%,37841472,40604475,10000,10000,10000,36,316.47,NaN,Communications Manager,...,1,0,0,0,0,0,0,0,0,1
324465,19.24%,37841535,40604556,11000,11000,11000,60,286.81,E2,Social Worker,...,0,1,0,0,0,0,1,0,0,0
324466,12.39%,37841552,40604575,8000,8000,8000,36,267.21,NaN,associate,...,1,0,0,0,0,0,0,0,0,1
324467,NaN,37841570,40604594,24000,24000,24000,60,616.52,NaN,Business Analyst,...,0,1,0,0,0,0,0,0,0,1
324468,11.44%,37841594,40604621,11000,11000,11000,36,362.43,B4,Director,...,1,0,0,1,0,0,0,0,0,0
324469,14.99%,37841668,40604701,28000,28000,28000,36,970.50,C5,Vice President of Video Services,...,1,0,0,0,1,0,0,0,0,0
324470,10.49%,37841841,40604912,5500,5500,5500,36,178.74,B3,NaN,...,1,0,0,1,0,0,0,0,0,0
324471,15.59%,37842129,40605224,21425,21425,21425,60,516.36,D1,Programming Analysis Supervisor,...,0,1,0,0,0,1,0,0,0,0
324472,8.19%,37854137,40616855,4000,4000,4000,36,125.70,A5,Program Assistant,...,1,0,1,0,0,0,0,0,0,0
324473,11.44%,37854157,40616878,12000,12000,12000,36,395.37,B4,Construction Scheduler,...,1,0,0,1,0,0,0,0,0,0
324474,15.99%,37854423,40617173,2000,2000,2000,36,70.31,D2,Student Services Coordinator,...,1,0,0,0,0,1,0,0,0,0
324475,11.44%,37854444,40617199,16000,16000,16000,60,351.40,NaN,Foreign Service Officer,...,0,1,0,0,0,0,0,0,0,1
324476,12.39%,38098114,40860827,15000,15000,15000,60,336.64,C1,MANAGEMENT,...,0,1,0,0,1,0,0,0,0,0

##Sub_Loan_Grade

In [42]:
X_train = X_train.drop('Sub_Loan_Grade', axis=1)

# Employer

In [43]:
X_train = X_train.drop('Employer', axis=1)

##Look at Column Values

In [44]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

# Length_Employed

In [44]:
X_train = X_train.drop('Length_Employed', axis=1)

In [45]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Home_Owner

In [46]:
X_train.rename(columns={'Home_Owner?':'Home_Owner'}, inplace = True)

In [47]:
X_train = X_train.drop('Home_Owner', axis=1)

In [48]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Annual_Income

In [49]:
#X_test.Annual_Income.unique()

In [50]:
#X_test.Annual_Income = X_test.Annual_Income.fillna(X_test.Annual_Income.mean)

In [51]:
#X_test.Annual_Income = X_test.Annual_Income.replace('Missing', X_test.Annual_Income.mean)

In [52]:
#X_test[X_test.Annual_Income.isnull()]

In [53]:
X_train = X_train.drop('Annual_Income', axis=1)

In [54]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Income_Verified

In [73]:
#X_test.Income_Verified.unique()

array(['VERIFIED - income source', 'not verified', 'VERIFIED - income',
       'Missing', '60589.6'], dtype=object)

In [75]:
#X_test[X_test.Income_Verified.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Initial_Loan_Term_Months_ 36, Initial_Loan_Term_Months_ 60, Loan_Grade_A, Loan_Grade_B, Loan_Grade_C, Loan_Grade_D, Loan_Grade_E, Loan_Grade_F, Loan_Grade_G, Loan_Grade_Missing, Length_Employed_1 year, Length_Employed_10+ years, Length_Employed_2 years, Length_Employed_3 years, Length_Employed_4 years, Length_Employed_5 years, Length_Employed_6 years, Length_Employed_7 years, Length_Employed_8 years, Length_Employed_9 years, Length_Employed_< 1 year, Length_Employed_Missing, Home_Owner_0, Home_Owner_10+ years, Home_Owner_MORTGAGE, Home_Owner_Missing, Home_Owner_NONE, Home_Owner_OTHER, Home_Owner_OWN, Home_Owner_RENT]
Index: []

[0 rows x 76 columns]

In [76]:
#variable = 'Income_Verified'
#Fill Missing
#X_test[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_test[variable], prefix=variable)
#print dummies
#X_test = pd.concat([X_test, dummies], axis=1)

        Income_Verified_60589.6  Income_Verified_Missing  \
0                             0                        0
1                             0                        0
2                             0                        0
3                             0                        0
4                             0                        0
5                             0                        0
6                             0                        0
7                             0                        0
8                             0                        0
9                             0                        1
10                            0                        0
11                            0                        0
12                            0                        0
13                            0                        0
14                            0                        0
15                            0                        0
16                            0                        0
17                            0                        0
18                            0                        0
19                            0                        0
20                            0                        0
21                            0                        0
22                            0                        0
23                            0                        0
24                            0                        0
25                            0                        0
26                            0                        0
27                            0                        0
28                            0                        0
29                            0                        0
...                         ...                      ...
117957                        0                        0
117958                        0                        0
117959                        0                        0
117960                        0                        0
117961                        0                        0
117962                        0                        0
117963                        0                        0
117964                        0                        0
117965                        0                        0
117966                        0                        0
117967                        0                        0
117968                        0                        0
117969                        0                        0
117970                        0                        0
117971                        0                        0
117972                        0                        0
117973                        0                        0
117974                        0                        0
117975                        0                        0
117976                        0                        0
117977                        0                        0
117978                        0                        1
117979                        0                        0
117980                        0                        0
117981                        0                        0
117982                        0                        0
117983                        0                        0
117984                        0                        0
117985                        0                        0
117986                        0                        0

        Income_Verified_VERIFIED - income  \
0                                       0
1                                       0
2                                       0
3                                       1
4                                       0
5                                       0
6                                       1
7                                       1
8                                       1
9                                       0
10                                      0
11                                      0
12                                      0
13                                      1
14                                      0
15                                      0
16                                      0
17                                      0
18                                      1
19                                      0
20                                      1
21                                      0
22                                      0
23                                      1
24                                      0
25                                      1
26                                      0
27                                      0
28                                      0
29                                      0
...                                   ...
117957                                  0
117958                                  0
117959                                  1
117960                                  1
117961                                  0
117962                                  0
117963                                  0
117964                                  0
117965                                  0
117966                                  0
117967                                  0
117968                                  1
117969                                  1
117970                                  0
117971                                  0
117972                                  0
117973                                  1
117974                                  1
117975                                  0
117976                                  0
117977                                  0
117978                                  0
117979                                  0
117980                                  0
117981                                  1
117982                                  0
117983                                  1
117984                                  0
117985                                  0
117986                                  0

        Income_Verified_VERIFIED - income source  Income_Verified_not verified
0                                              1                             0
1                                              0                             1
2                                              1                             0
3                                              0                             0
4                                              1                             0
5                                              1                             0
6                                              0                             0
7                                              0                             0
8                                              0                             0
9                                              0                             0
10                                             0                             1
11                                             1                             0
12                                             1                             0
13                                             0                             0
14                                             0                             1
15                                             0                             1
16                                             0                             1
17                                             1                             0
18                                             0                             0
19                                             1                             0
20                                             0                             0
21                                             1                             0
22                                             1                             0
23                                             0                             0
24                                             1                             0
25                                             0                             0
26                                             0                             1
27                                             1                             0
28                                             0                             1
29                                             1                             0
...                                          ...                           ...
117957                                         0                             1
117958                                         1                             0
117959                                         0                             0
117960                                         0                             0
117961                                         0                             1
117962                                         0                             1
117963                                         0                             1
117964                                         1                             0
117965                                         1                             0
117966                                         1                             0
117967                                         1                             0
117968                                         0                             0
117969                                         0                             0
117970                                         1                             0
117971                                         0                             1
117972                                         1                             0
117973                                         0                             0
117974                                         0                             0
117975                                         0                             1
117976                                         0                             1
117977                                         0                             1
117978                                         0                             0
117979                                         0                             1
117980                                         0                             1
117981                                         0                             0
117982                                         1                             0
117983                                         0                             0
117984                                         1                             0
117985                                         1                             0
117986                                         0                             1

[117987 rows x 5 columns]

In [55]:
X_train = X_train.drop('Income_Verified', axis=1)

##Month_Issued

In [56]:
X_train = X_train.drop('Month_Issued', axis=1)

##Current_Status

In [57]:
X_train.Current_Status.unique()

array(['Fully Paid', 'Charged Off', 'Dec-07', 'Current',
       'Late (31-120 days)', 'In Grace Period', 'Jul-10',
       'Late (16-30 days)', 'Default', 'Jun-11', 'Aug-11', 'Sep-11',
       'Nov-11', 'Mar-12', 'Nov-12', 'Jan-13', 'Apr-13', 'Jul-13',
       'Oct-13', 'Nov-13', 'Dec-13', 'Jan-14', 'Feb-14', 'Apr-14',
       'May-14', 'Jun-14', 'Jul-14', 'Aug-14', 'Sep-14',
       'VERIFIED - income', 'Oct-14', 'Nov-14', 'Dec-14'], dtype=object)

In [58]:
X_train[X_train.Current_Status.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Length_Employed, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Initial_Loan_Term_Months_ 36, Initial_Loan_Term_Months_ 60, Loan_Grade_A, Loan_Grade_B, Loan_Grade_C, Loan_Grade_D, Loan_Grade_E, Loan_Grade_F, Loan_Grade_G, Loan_Grade_Missing]
Index: []

[0 rows x 55 columns]

In [82]:
#variable = 'Current_Status'
#Fill Missing
#X_test[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_test[variable], prefix=variable)
#print dummies
#X_test = pd.concat([X_test, dummies], axis=1)

        Current_Status_Charged Off  Current_Status_Current  \
0                                0                       1
1                                0                       1
2                                0                       0
3                                0                       1
4                                0                       1
5                                0                       0
6                                0                       0
7                                0                       1
8                                0                       0
9                                0                       0
10                               1                       0
11                               1                       0
12                               0                       1
13                               0                       1
14                               0                       0
15                               0                       0
16                               0                       1
17                               0                       0
18                               0                       0
19                               0                       1
20                               1                       0
21                               0                       1
22                               0                       0
23                               0                       1
24                               0                       1
25                               0                       0
26                               0                       0
27                               1                       0
28                               0                       0
29                               0                       0
...                            ...                     ...
117957                           0                       0
117958                           0                       0
117959                           1                       0
117960                           0                       1
117961                           0                       1
117962                           0                       1
117963                           0                       1
117964                           0                       0
117965                           0                       1
117966                           0                       1
117967                           0                       1
117968                           0                       1
117969                           0                       1
117970                           0                       1
117971                           0                       1
117972                           0                       1
117973                           0                       0
117974                           0                       0
117975                           1                       0
117976                           0                       1
117977                           0                       1
117978                           0                       0
117979                           0                       1
117980                           0                       1
117981                           0                       0
117982                           0                       1
117983                           0                       1
117984                           0                       1
117985                           0                       1
117986                           0                       1

        Current_Status_Default  Current_Status_Fully Paid  \
0                            0                          0
1                            0                          0
2                            0                          1
3                            0                          0
4                            0                          0
5                            0                          1
6                            0                          1
7                            0                          0
8                            0                          1
9                            0                          0
10                           0                          0
11                           0                          0
12                           0                          0
13                           0                          0
14                           0                          1
15                           0                          1
16                           0                          0
17                           0                          0
18                           0                          1
19                           0                          0
20                           0                          0
21                           0                          0
22                           0                          1
23                           0                          0
24                           0                          0
25                           0                          1
26                           0                          1
27                           0                          0
28                           0                          1
29                           0                          1
...                        ...                        ...
117957                       0                          1
117958                       0                          1
117959                       0                          0
117960                       0                          0
117961                       0                          0
117962                       0                          0
117963                       0                          0
117964                       0                          1
117965                       0                          0
117966                       0                          0
117967                       0                          0
117968                       0                          0
117969                       0                          0
117970                       0                          0
117971                       0                          0
117972                       0                          0
117973                       0                          1
117974                       0                          1
117975                       0                          0
117976                       0                          0
117977                       0                          0
117978                       0                          0
117979                       0                          0
117980                       0                          0
117981                       0                          1
117982                       0                          0
117983                       0                          0
117984                       0                          0
117985                       0                          0
117986                       0                          0

        Current_Status_In Grace Period  Current_Status_Late (16-30 days)  \
0                                    0                                 0
1                                    0                                 0
2                                    0                                 0
3                                    0                                 0
4                                    0                                 0
5                                    0                                 0
6                                    0                                 0
7                                    0                                 0
8                                    0                                 0
9                                    0                                 0
10                                   0                                 0
11                                   0                                 0
12                                   0                                 0
13                                   0                                 0
14                                   0                                 0
15                                   0                                 0
16                                   0                                 0
17                                   0                                 0
18                                   0                                 0
19                                   0                                 0
20                                   0                                 0
21                                   0                                 0
22                                   0                                 0
23                                   0                                 0
24                                   0                                 0
25                                   0                                 0
26                                   0                                 0
27                                   0                                 0
28                                   0                                 0
29                                   0                                 0
...                                ...                               ...
117957                               0                                 0
117958                               0                                 0
117959                               0                                 0
117960                               0                                 0
117961                               0                                 0
117962                               0                                 0
117963                               0                                 0
117964                               0                                 0
117965                               0                                 0
117966                               0                                 0
117967                               0                                 0
117968                               0                                 0
117969                               0                                 0
117970                               0                                 0
117971                               0                                 0
117972                               0                                 0
117973                               0                                 0
117974                               0                                 0
117975                               0                                 0
117976                               0                                 0
117977                               0                                 0
117978                               0                                 0
117979                               0                                 0
117980                               0                                 0
117981                               0                                 0
117982                               0                                 0
117983                               0                                 0
117984                               0                                 0
117985                               0                                 0
117986                               0                                 0

        Current_Status_Late (31-120 days)  Current_Status_Missing  \
0                                       0                       0
1                                       0                       0
2                                       0                       0
3                                       0                       0
4                                       0                       0
5                                       0                       0
6                                       0                       0
7                                       0                       0
8                                       0                       0
9                                       0                       1
10                                      0                       0
11                                      0                       0
12                                      0                       0
13                                      0                       0
14                                      0                       0
15                                      0                       0
16                                      0                       0
17                                      1                       0
18                                      0                       0
19                                      0                       0
20                                      0                       0
21                                      0                       0
22                                      0                       0
23                                      0                       0
24                                      0                       0
25                                      0                       0
26                                      0                       0
27                                      0                       0
28                                      0                       0
29                                      0                       0
...                                   ...                     ...
117957                                  0                       0
117958                                  0                       0
117959                                  0                       0
117960                                  0                       0
117961                                  0                       0
117962                                  0                       0
117963                                  0                       0
117964                                  0                       0
117965                                  0                       0
117966                                  0                       0
117967                                  0                       0
117968                                  0                       0
117969                                  0                       0
117970                                  0                       0
117971                                  0                       0
117972                                  0                       0
117973                                  0                       0
117974                                  0                       0
117975                                  0                       0
117976                                  0                       0
117977                                  0                       0
117978                                  0                       1
117979                                  0                       0
117980                                  0                       0
117981                                  0                       0
117982                                  0                       0
117983                                  0                       0
117984                                  0                       0
117985                                  0                       0
117986                                  0                       0

        Current_Status_Oct-14
0                           0
1                           0
2                           0
3                           0
4                           0
5                           0
6                           0
7                           0
8                           0
9                           0
10                          0
11                          0
12                          0
13                          0
14                          0
15                          0
16                          0
17                          0
18                          0
19                          0
20                          0
21                          0
22                          0
23                          0
24                          0
25                          0
26                          0
27                          0
28                          0
29                          0
...                       ...
117957                      0
117958                      0
117959                      0
117960                      0
117961                      0
117962                      0
117963                      0
117964                      0
117965                      0
117966                      0
117967                      0
117968                      0
117969                      0
117970                      0
117971                      0
117972                      0
117973                      0
117974                      0
117975                      0
117976                      0
117977                      0
117978                      0
117979                      0
117980                      0
117981                      0
117982                      0
117983                      0
117984                      0
117985                      0
117986                      0

[117987 rows x 9 columns]

In [59]:
X_train = X_train.drop('Current_Status', axis=1)

In [60]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Length_Employed

In [61]:
X_train = X_train.drop('Length_Employed', axis=1)

##Payment_Plan_Ind

In [62]:
X_train = X_train.drop('Payment_Plan_Ind', axis=1)

##Loan_Description

In [63]:
X_train = X_train.drop('Loan_Description', axis=1)

##Purpose_Of_Loan

In [64]:
X_train.Purpose_Of_Loan.unique()

array(['debt_consolidation', 'credit_card', 'car', ...,
       ' this would afford me the opportunity to do so.<br>',
       ' medical bills<br><br> Borrower added on 03/17/14 > Pay credit cars off $3070 &amp',
       'n'], dtype=object)

In [65]:
X_train = X_train.drop('Purpose_Of_Loan', axis=1)

##Loan_Title

In [66]:
X_train = X_train.drop('Loan_Title', axis=1)

In [67]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Zip_3

In [68]:
#Drop or Do More
X_train.Zip_3.unique()

array(['941xx', '112xx', '100xx', ..., '429xx', '513xx', '663xx'], dtype=object)

In [69]:
X_train = X_train.drop('Zip_3', axis=1)

##State

In [70]:
X_train.State.unique()

array(['CA', 'NY', 'CT', 'RI', 'TX', 'MA', 'MI', 'KY', 'MS', 'KS', 'GA',
       'NC', 'NJ', 'WA', 'OH', 'AZ', 'IL', 'MD', 'CO', 'WI', 'IN', 'VA',
       'FL', 'NE', 'MO', 'UT', 'LA', 'SC', 'AL', 'TN', 'NH', 'SD', 'WY',
       'ME', '336xx', 'NM', 'OR', 'MN', 'DC', 'HI', 'NV', 'VT', '130xx',
       'IA', 'PA', 'OK', 'ID', 'DE', 'MT', 'AR', 'WV',
       'Business Consolidation Loan', '941xx', '021xx', 'AK',
       'debt consolidation', '255xx', '217xx', '711xx', '770xx', '208xx',
       " and utilities. We own three cars outright and do not anticipate buying a new car for a few years unless absolutely necessary.  4. My position and my wife's are both very stable. I am a federal government employee and my wife is a registered nurse (RN).",
       '982xx', '531xx', '921xx', '458xx', '752xx', '553xx', '117xx',
       ' reliable payer', '        324<br/>Car', '974xx', 'pdub', '926xx',
       'Short-Term Loan Needed for Tax Debt', '452xx', '066xx',
       ' Chase 681.44 pmt 21', '077xx',
       ' I ALSO HAVE AN EXCELLENT TRACK RECORD IN PAYING MY FINANCIAL OBLIGATIONS<br/>',
       'On the way outta the red', '323xx', 'debt_consolidation', '721xx',
       'Be Free!!!', 'Credit Debt', '981xx', 'other', '400xx', '773xx',
       '100xx', 'Lending Club Personal Loan', 'Car Loan',
       ' Wanting to consolidate smaller amounts of debt from multiple sources into one place for pay off',
       '017xx',
       '. Never late on monthly payments. Stable job. Spouse also has stable job.<br/>',
       '900xx', '945xx', '907xx', '913xx', '701xx', '765xx', '300xx',
       '551xx', 'Debt Consolidation Loan', 'Moving Expences',
       'kitchen upgrade', '142xx', 'Revolver', 'Consolidation Loan',
       '145xx', '088xx', '802xx', '225xx', '196xx', '334xx', '957xx',
       '144xx', 'Home Improvement Loan', '556xx', '544xx',
       'Wedding Expenses', ' NEVER LATE ON ANY PAYMENTS IN 30 YEARS<br/>',
       '640xx', '$1400.00<br/>Power:', nan, '207xx', '212xx', '780xx',
       '890xx', 'auto bills & decline in income', '703xx', '303xx',
       'major_purchase', 'Citibank No More!', '210xx', 'big mike',
       ' to replace old entry deck and also vinyl side the entry section of the house.  I am working my way around the house and am financing pieces rather than the entire project.<br/><br/>I have no idea why Lending Tree miscategorized the purpose of the loan as I entered this information previously regarding the Home Improvement description.<br/> Borrower added on 04/27/11 > &quot',
       ' a 89 Buick Reatta Coupe. We drive the Ford back &amp', '923xx',
       'Debt Consolidation 2011', '206xx', '912xx', '152xx', 'car',
       '891xx', 'rusty', '061xx', '103xx', '220xx', 'Refinance LC Loan',
       '597xx', '190xx', 'Home Improvement', '198xx', '853xx', 'boat loan',
       '601xx', '330xx', '080xx', '918xx', 'Car Fund', 'Debt', '068xx',
       '451xx', '076xx', ' credit card debt.<br/>', '288xx', '851xx',
       'HONDA RUCKUS', '850xx', 'Credit Card', '083xx', 'Vacation Loan',
       '128xx', 'Pay off Credit Cards', '902xx', 'home_improvement',
       '010xx', '811xx', 'Wedding Loan', '990xx', '560xx',
       ' take care of customers i already have<br/>',
       'Would love some treats instead of tricks', 'Bill', 'credit_card',
       'House', 'Credit Cards', '349xx', 'Debt Consolidation', '235xx',
       '071xx', 'Credit card loan', 'DEBT CONSOLIDATION', 'Debt Shutdown',
       '302xx', '799xx', '881xx', '895xx', '193xx', 'DebtConsolidation',
       '440xx', '404xx', 'Good credit = new wheels', 'Major Purchase Loan',
       '172xx', '2D Loan',
       '  We will use this loan to pay off debts and fix everything wrong with our home.  I hope that clarifies.<br>',
       '975xx', 'Reliable Payer Home Loan', '223xx', '904xx',
       'Car payment loan', '301xx', '209xx', '335xx', '841xx',
       'Credit Card Payoff loan', '762xx', '959xx', '275xx',
       'Personal Loan', '060xx', '740xx', '946xx', '430xx',
       'Debt Consol 2', '492xx', '173xx', '232xx', 'Pay Off Credit Cards!',
       'Credit Card Freedom', '327xx', 'Get outta debt',
       'Account Consolidation & Rate Adjustment', '279xx', '989xx',
       '654xx', 'Consolidate to Freedom!', 'small_business',
       ' painting the living room', 'CC Refi', 'Chase Payoff', '074xx',
       '760xx', 'Start Anew', '910xx', '148xx', '111xx', 'Clear all loans',
       '3 Loan Payoff', ' credit card payments $495.00', 'Patio',
       'Debt Free', 'Car ', '286xx', '278xx', '927xx', '238xx', '299xx',
       '140xx', '750xx', '063xx', '532xx', '934xx',
       ' I plan to use the loan to pay for the remaining half of our wedding expenses. I am a good borrower as evidenced by my current and always on-time payments. I have never missed a payment or made a late payment.<br>',
       'Consolidate', '141xx', '137xx', 'pay off cards',
       's grandfather was planning to contribute significantly to our wedding expenses',
       '781xx', '285xx', '928xx', '180xx', 'Freedom', '554xx', '949xx',
       '260xx', '940xx', '657xx', 'Bill Payoof', 'gettingout!', '911xx',
       'to finish my project', '112xx', '110xx', 'School loan', '968xx',
       '967xx', 'fancial freedo$', '272xx',
       'Refying LC Loan 2 Reduce Payment-Term', '342xx',
       'move to scituate house', '296xx', 'Back on Track', '233xx',
       'High interest credit card killing me', 'Small Business',
       'Debt-Free in 2015', '087xx', '018xx', '114xx', 'green', '840xx',
       '146xx', '935xx', '614xx', 'RV Camper', '925xx', '070xx',
       'Credit Card Reduction', '251xx', '939xx', '761xx', '224xx',
       '072xx', 'Credit Card Debt Loan', 'Debt consolidation', '265xx',
       '486xx', '351xx', '344xx', '331xx', '321xx', ' &nbsp', '276xx',
       'June 26 Loan', '930xx', '728xx', '115xx', '730xx', 'Business',
       '800xx', '894xx', '633xx', 'Pay off CC & Finish Home Improvements',
       '282xx', '029xx', 'Consolidation of Credit Cards', '154xx', '410xx',
       ' Universal Card $2170', '138xx', 'Credit card refinancing',
       'Business Loan', '537xx', '809xx', '325xx', '020xx', '995xx',
       'Debt Consolidation Refinance', '312xx', 'Last Loan', 'Refy',
       '  35<br>401K     3785', 'Credit Card Payoff', '720xx', '494xx',
       'Financial Freedom', '751xx', 'sunshine', '920xx', '908xx', '329xx',
       'Debt Be Gone', '304xx', '922xx', 'Credit card consolidation',
       '705xx', 'Credit Card Debt Consolodation ', '603xx',
       'jump starting the future',
       "<br>Goal: '14-debt free!!<br>Thank you!<br>", 'jacuzzi loan',
       '606xx', 'Free', 'Credit card refinance loan', '135xx', '787xx',
       '183xx', '026xx', '825xx', '234xx',
       'Credit Card Debt Consolidation', '786xx',
       'Wedding Bliss Preparation', '319xx', '181xx', '564xx', '950xx',
       '075xx', '306xx', '352xx', '871xx', '863xx', '954xx', '156xx',
       '194xx', '337xx', '109xx',
       'house repairs: roof and guttering system', '079xx', '958xx',
       '231xx', 'My move to DC got expensive', '290xx', 'Consolidation',
       'BULk $', 'Refinance', 'combine all bills into 1 payment ',
       "  I've always been responsible in making payments on anything I owe. Just need a second chance to correct the mistakes I've learned from.<br>",
       'Saviour', 'SimplyBlessed', 'Pay Down', '346xx', '860xx', '774xx',
       'end of debt', '184xx', 'Debt Reduction', '775xx', 'Tired of bills',
       '769xx', '852xx', '480xx', '496xx', '211xx', '846xx', '221xx',
       'Consolidation & Investment Loan', '104xx', 'Goodbye Credit Cards!',
       '271xx', 'Snowball', 'Antique Tractor', '919xx', '023xx', '916xx',
       '317xx', '366xx', '917xx', '222xx', 'LowerMyRate', '326xx',
       'Debtfree', '600xx', '191xx', 'Kitchen Make Over', '274xx', '953xx',
       'Back On Track', 'New Pool', '064xx', '266xx', 'Major purchase',
       '567xx', '960xx',
       ' approximately $280 which I intend to use to pay this loan off faster.  I am never late on payments.  I have never defaulted on any debt.  I do appreciate your consideration of this investment.<br>',
       '195xx', '996xx', '951xx', 'For Credit Cards', '993xx', '678xx',
       'Thanks<br>', '341xx', '604xx', '442xx', '253xx', '453xx',
       'Balance Transfer', 'freedom', 'freedomloan', 'Credit pay off',
       '550xx', '1964 Imperial Project', '983xx', '082xx', 'Refi',
       'Home buying', '630xx', '660xx', '107xx', '725xx', '136xx', '801xx',
       'credit support', '672xx', 'Get hold of my finances...', '214xx',
       '297xx', '36 Month Credit Card Debt Free Plan', 'Medical', '131xx',
       '100% PAYMENT RECORD', '277xx', 'LendingLoan', '933xx',
       'Get Out of Debt Loan', 'credit card refinance', 'Help My Debt',
       'Credit Cards Consolidated and Refinanced', 'Debt Refinance',
       '558xx', 'Credit Card Refi', 'My Loan ', '594xx', 'HomeImprovement',
       '113xx', '970xx', '936xx', 'Consolodation Loan',
       'Pay off Loan/Down Payment', 'LowerAPR', 'Hi-rate Consolidation',
       '129xx', '462xx', '350xx', '216xx', 'D.I.D. (Drowning In Debt!)',
       'Wedding and Home Expenses', '625xx', '273xx',
       '2013 Debt Consolidation Loan', 'Evil Credit Cards',
       'Making things right', 'Debt Con.', '027xx', 'Credit card payoff',
       ' pay off my Loan', '201xx', '710xx',
       ' on our financial body! Thankfully I have a stable job and income but not enough to repay those debts in short time. I am trying to avoid paying more interest so we can start saving again!<br>',
       'Debt Freedom', ' trying to get my finances in order.<br>', '333xx',
       '914xx', 'Lending Club Loan Refinance', '980xx', '281xx', 'Rebuild',
       '471xx', '806xx', 'Storage Issue Over', '376xx',
       'payoff loan vehicle purchase', 'Money on the Spot',
       'My First Loan', 'Getting it Together', '242xx', '631xx',
       'Success in life', '481xx', '972xx', 'Lower my interest rate',
       '467xx', '535xx', '280xx', '120xx', ' Debt Consolidation', '024xx',
       '857xx', 'Principal down, PMI out', '490xx',
       'Credit Card Consolidation', '759xx', '<br>Thanks a million<br>',
       '754xx', '420xx', 'Reduced rate loan', '189xx', 'Fake Union',
       'Home improvement', 'Relief CC Fund', 'shred the cards!', '790xx',
       '700xx',
       ' travel (which has become very important to me). Thank you for investing in me!<br>',
       'Getting out of the hole', 'Be Gone Debt', 'Other',
       'Credit reduction so I can be w/kids more', 'reduced payment',
       'CONSOLIDATION', '381xx',
       ' for not paying it off in the time period of this Interest Free period We are  trying to Refi this floor<br>',
       '756xx', 'Debt eliminator', '158xx', '829xx', 'Credit card ',
       'Kitchen Redo', '549xx', 'New Beginning', '491xx', '483xx', '650xx',
       " Macy's-24%.  Thank you.<br>", '283xx', 'Loan Consolidate',
       'credit cards ', 'Wedding expenses', '596xx', '985xx',
       'debt cleanup', 'helping hand', '628xx', '882xx', 'clean credit up',
       '707xx', '174xx', '530xx', 'A Little Miracle', '226xx',
       'Pay off credit cards', '119xx', 'Wedding Fund', '956xx', 'homeimp',
       '073xx', 'Onward', 'new kitchen', 'debt/car', 'QUIK PAYOFF',
       '261xx', '880xx', 'truck loan', '708xx', 'CC Debt Consolidation',
       'refi', '763xx', '441xx', '747xx', 'My only Debt', '457xx',
       ' Get Ahead!', '038xx', ' in site.<br>', 'Cleaning out ', '716xx',
       'HomeLoan', 'breathing room', 'MyCombinedLoan', '450xx', '454xx',
       '374xx', '287xx', '783xx', 'consolidation', '679xx', '373xx',
       'Consolidate 1', '385xx', '466xx', '570xx', '803xx', '727xx',
       '435xx', '641xx', 'Thank you', '179xx', 'personal car/credit',
       '.<br><br> Borrower added on 01/22/14 > I will use the consolidation loan for just that.  To consolidate other obligations.  No new debt will be created and it will be a $ for $ reduction.   I re-invested and remodeled my home last year and the additional expenses led to short term debt.  I pay my bills FIRST.  :)<br>',
       'Credit Refinancing PLEEZE!', '719xx', '170xx', '795xx', '463xx',
       'carcard', 'Credit card juggler', '028xx', 'CreditCardConsolidate',
       'Credit Card Repayment', '032xx', 'Effective Plan for Paying Debt ',
       '405xx', '662xx', 'debt-free loan', 'Improvements', '166xx',
       '610xx', '731xx',
       'applied and thi is to pay my credit cards and fix my leaking roof',
       '856xx', '478xx', '782xx', '240xx', '371xx', '984xx', '339xx',
       '403xx', '804xx', '019xx', '540xx', '151xx', '465xx',
       'Moving and relocation', '743xx', '322xx', ' etc.<br>', '677xx',
       '444xx', '626xx', '656xx', '067xx', '629xx'], dtype=object)

In [68]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['Business Consolidation Loan', '941xx', '021xx',
       'debt consolidation', '255xx', '217xx', '711xx', '770xx', '208xx',
       " and utilities. We own three cars outright and do not anticipate buying a new car for a few years unless absolutely necessary.  4. My position and my wife's are both very stable. I am a federal government employee and my wife is a registered nurse (RN).",
       '982xx', '531xx', '921xx', '458xx', '752xx', '553xx', '117xx',
       ' reliable payer', '        324<br/>Car', '974xx', 'pdub', '926xx',
       'Short-Term Loan Needed for Tax Debt', '452xx', '066xx',
       ' Chase 681.44 pmt 21', '077xx',
       ' I ALSO HAVE AN EXCELLENT TRACK RECORD IN PAYING MY FINANCIAL OBLIGATIONS<br/>',
       'On the way outta the red', '323xx', 'debt_consolidation', '721xx',
       'Be Free!!!', 'Credit Debt', '981xx', 'other', '400xx', '773xx',
       '100xx', 'Lending Club Personal Loan', 'Car Loan',
       ' Wanting to consolidate smaller amounts of debt from multiple sources into one place for pay off',
       '017xx',
       '. Never late on monthly payments. Stable job. Spouse also has stable job.<br/>',
       '900xx', '945xx', '907xx', '913xx', '701xx', '765xx', '300xx',
       '551xx', 'Debt Consolidation Loan', 'Moving Expences',
       'kitchen upgrade', '142xx', 'Revolver', 'Consolidation Loan',
       '145xx', '088xx', '802xx', '225xx', '196xx', '334xx', '957xx',
       '144xx', 'Home Improvement Loan', '556xx', '544xx',
       'Wedding Expenses', ' NEVER LATE ON ANY PAYMENTS IN 30 YEARS<br/>',
       '640xx', '$1400.00<br/>Power:', 'nan', '207xx', '212xx', '780xx',
       '890xx', 'auto bills & decline in income', '703xx', '303xx',
       'major_purchase', 'Citibank No More!', '210xx', 'big mike',
       ' to replace old entry deck and also vinyl side the entry section of the house.  I am working my way around the house and am financing pieces rather than the entire project.<br/><br/>I have no idea why Lending Tree miscategorized the purpose of the loan as I entered this information previously regarding the Home Improvement description.<br/> Borrower added on 04/27/11 > &quot',
       ' a 89 Buick Reatta Coupe. We drive the Ford back &amp', '923xx',
       'Debt Consolidation 2011', '206xx', '912xx', '152xx', 'car',
       '891xx', 'rusty', '061xx', '103xx', '220xx', 'Refinance LC Loan',
       '597xx', '190xx', 'Home Improvement', '853xx', 'boat loan', '601xx',
       '330xx', '080xx', '918xx', 'Car Fund', 'Debt', '068xx', '451xx',
       '076xx', ' credit card debt.<br/>', '288xx', '851xx',
       'HONDA RUCKUS', '850xx', 'Credit Card', '083xx', 'Vacation Loan',
       '128xx', 'Pay off Credit Cards', '902xx', 'home_improvement',
       '010xx', '811xx', 'Wedding Loan', '990xx', '560xx',
       ' take care of customers i already have<br/>',
       'Would love some treats instead of tricks', 'Bill', 'credit_card',
       'House', 'Credit Cards', '349xx', 'Debt Consolidation', '235xx',
       '071xx', 'Credit card loan', 'DEBT CONSOLIDATION', 'Debt Shutdown',
       '302xx', '799xx', '881xx', '895xx', '193xx', 'DebtConsolidation',
       '440xx', '404xx', 'Good credit = new wheels', 'Major Purchase Loan',
       '172xx', '2D Loan',
       '  We will use this loan to pay off debts and fix everything wrong with our home.  I hope that clarifies.<br>',
       '975xx', 'Reliable Payer Home Loan', '223xx', '904xx',
       'Car payment loan', '301xx', '335xx', '841xx',
       'Credit Card Payoff loan', '762xx', '959xx', '275xx',
       'Personal Loan', '060xx', '740xx', '946xx', '430xx',
       'Debt Consol 2', '492xx', '173xx', '232xx', 'Pay Off Credit Cards!',
       'Credit Card Freedom', '327xx', 'Get outta debt',
       'Account Consolidation & Rate Adjustment', '279xx', '989xx',
       '654xx', 'Consolidate to Freedom!', 'small_business',
       ' painting the living room', 'CC Refi', 'Chase Payoff', '074xx',
       '760xx', 'Start Anew', '910xx', '148xx', '111xx', 'Clear all loans',
       '3 Loan Payoff', ' credit card payments $495.00', 'Patio',
       'Debt Free', 'Car ', '286xx', '278xx', '927xx', '299xx', '140xx',
       '750xx', '063xx', '532xx', '934xx',
       ' I plan to use the loan to pay for the remaining half of our wedding expenses. I am a good borrower as evidenced by my current and always on-time payments. I have never missed a payment or made a late payment.<br>',
       'Consolidate', '141xx', '137xx', 'pay off cards',
       's grandfather was planning to contribute significantly to our wedding expenses',
       '781xx', '285xx', '928xx', '180xx', 'Freedom', '209xx', '554xx',
       '949xx', '260xx', '940xx', '657xx', 'Bill Payoof', 'gettingout!',
       '911xx', 'to finish my project', '112xx', '110xx', 'School loan',
       '968xx', '967xx', 'fancial freedo$', '272xx',
       'Refying LC Loan 2 Reduce Payment-Term', '342xx',
       'move to scituate house', '296xx', 'Back on Track', '233xx',
       'High interest credit card killing me', 'Small Business',
       'Debt-Free in 2015', '087xx', '018xx', '114xx', 'green', '840xx',
       '146xx', '935xx', '614xx', 'RV Camper', '925xx', '070xx',
       'Credit Card Reduction', '251xx', '939xx', '761xx', '224xx',
       '072xx', 'Credit Card Debt Loan', 'Debt consolidation', '265xx',
       '486xx', '351xx', '344xx', '331xx', '321xx', ' &nbsp', '276xx',
       'June 26 Loan', '930xx', '728xx', '115xx', '730xx', 'Business',
       '800xx', '894xx', '633xx', 'Pay off CC & Finish Home Improvements',
       '282xx', '029xx', 'Consolidation of Credit Cards', '154xx', '410xx',
       ' Universal Card $2170', '138xx', 'Credit card refinancing',
       'Business Loan', '537xx', '809xx', '325xx', '020xx', '995xx',
       'Debt Consolidation Refinance', '312xx', 'Last Loan', 'Refy',
       '  35<br>401K     3785', 'Credit Card Payoff', '720xx', '494xx',
       'Financial Freedom', '751xx', 'sunshine', '920xx', '908xx', '329xx',
       'Debt Be Gone', '304xx', '922xx', 'Credit card consolidation',
       '705xx', 'Credit Card Debt Consolodation ', '603xx',
       'jump starting the future',
       "<br>Goal: '14-debt free!!<br>Thank you!<br>", 'jacuzzi loan',
       '606xx', 'Free', 'Credit card refinance loan', '135xx', '787xx',
       '183xx', '026xx', '825xx', '234xx',
       'Credit Card Debt Consolidation', '786xx',
       'Wedding Bliss Preparation', '319xx', '181xx', '564xx', '950xx',
       '075xx', '306xx', '352xx', '871xx', '863xx', '954xx', '156xx',
       '194xx', '337xx', '109xx',
       'house repairs: roof and guttering system', '079xx', '958xx',
       '231xx', 'My move to DC got expensive', '290xx', 'Consolidation',
       'BULk $', 'Refinance', 'combine all bills into 1 payment ',
       "  I've always been responsible in making payments on anything I owe. Just need a second chance to correct the mistakes I've learned from.<br>",
       'Saviour', 'SimplyBlessed', 'Pay Down', '346xx', '860xx', '774xx',
       'end of debt', '184xx', 'Debt Reduction', '775xx', 'Tired of bills',
       '769xx', '852xx', '480xx', '496xx', '211xx', '846xx', '221xx',
       'Consolidation & Investment Loan', '104xx', 'Goodbye Credit Cards!',
       '271xx', 'Snowball', 'Antique Tractor', '919xx', '023xx', '916xx',
       '317xx', '366xx', '917xx', '222xx', 'LowerMyRate', '326xx',
       'Debtfree', '600xx', '191xx', 'Kitchen Make Over', '274xx', '953xx',
       'Back On Track', 'New Pool', '064xx', '266xx', 'Major purchase',
       '567xx', '960xx',
       ' approximately $280 which I intend to use to pay this loan off faster.  I am never late on payments.  I have never defaulted on any debt.  I do appreciate your consideration of this investment.<br>',
       '195xx', '996xx', '951xx', 'For Credit Cards', '993xx', '678xx',
       'Thanks<br>', '341xx', '604xx', '442xx', '253xx', '453xx',
       'Balance Transfer', 'freedom', 'freedomloan', 'Credit pay off',
       '550xx', '1964 Imperial Project', '983xx', 'Refi', 'Home buying',
       '630xx', '660xx', '107xx', '725xx', '136xx', '801xx',
       'credit support', '672xx', 'Get hold of my finances...', '214xx',
       '297xx', '36 Month Credit Card Debt Free Plan', 'Medical', '131xx',
       '100% PAYMENT RECORD', '277xx', 'LendingLoan', '933xx',
       'Get Out of Debt Loan', 'credit card refinance', 'Help My Debt',
       'Credit Cards Consolidated and Refinanced', 'Debt Refinance',
       '558xx', 'Credit Card Refi', 'My Loan ', '594xx', 'HomeImprovement',
       '113xx', '970xx', '936xx', 'Consolodation Loan',
       'Pay off Loan/Down Payment', 'LowerAPR', '238xx',
       'Hi-rate Consolidation', '129xx', '462xx', '350xx', '216xx',
       'D.I.D. (Drowning In Debt!)', 'Wedding and Home Expenses', '625xx',
       '273xx', '2013 Debt Consolidation Loan', 'Evil Credit Cards',
       'Making things right', 'Debt Con.', '027xx', 'Credit card payoff',
       ' pay off my Loan', '201xx', '710xx',
       ' on our financial body! Thankfully I have a stable job and income but not enough to repay those debts in short time. I am trying to avoid paying more interest so we can start saving again!<br>',
       'Debt Freedom', ' trying to get my finances in order.<br>', '914xx',
       'Lending Club Loan Refinance', '980xx', '281xx', 'Rebuild', '471xx',
       '333xx', '806xx', 'Storage Issue Over', '376xx',
       'payoff loan vehicle purchase', 'Money on the Spot',
       'My First Loan', 'Getting it Together', '242xx', '631xx',
       'Success in life', '481xx', '972xx', 'Lower my interest rate',
       '467xx', '535xx', '280xx', '120xx', ' Debt Consolidation', '024xx',
       '857xx', 'Principal down, PMI out', '490xx',
       'Credit Card Consolidation', '759xx', '<br>Thanks a million<br>',
       '754xx', '420xx', 'Reduced rate loan', '189xx', 'Fake Union',
       'Home improvement', 'Relief CC Fund', 'shred the cards!', '790xx',
       '700xx',
       ' travel (which has become very important to me). Thank you for investing in me!<br>',
       'Getting out of the hole', 'Be Gone Debt', 'Other',
       'Credit reduction so I can be w/kids more', 'reduced payment',
       'CONSOLIDATION', '381xx',
       ' for not paying it off in the time period of this Interest Free period We are  trying to Refi this floor<br>',
       'Debt eliminator', '158xx', '829xx', 'Credit card ', 'Kitchen Redo',
       '549xx', 'New Beginning', '491xx', '483xx', '650xx', '336xx',
       " Macy's-24%.  Thank you.<br>", '283xx', 'Loan Consolidate',
       'credit cards ', 'Wedding expenses', '596xx', '985xx',
       'debt cleanup', 'helping hand', '628xx', '882xx', 'clean credit up',
       '198xx', '707xx', '174xx', '530xx', 'A Little Miracle', '226xx',
       'Pay off credit cards', '119xx', 'Wedding Fund', '956xx', 'homeimp',
       '073xx', 'Onward', 'new kitchen', 'debt/car', 'QUIK PAYOFF',
       '261xx', '880xx', 'truck loan', '708xx', 'CC Debt Consolidation',
       'refi', '763xx', '441xx', '747xx', 'My only Debt', '457xx',
       ' Get Ahead!', '038xx', ' in site.<br>', 'Cleaning out ', '716xx',
       'HomeLoan', 'breathing room', 'MyCombinedLoan', '450xx', '454xx',
       '374xx', '287xx', '783xx', 'consolidation', '679xx', '373xx',
       'Consolidate 1', '466xx', '570xx', '803xx', '727xx', '435xx',
       '641xx', 'Thank you', '179xx', 'personal car/credit',
       '.<br><br> Borrower added on 01/22/14 > I will use the consolidation loan for just that.  To consolidate other obligations.  No new debt will be created and it will be a $ for $ reduction.   I re-invested and remodeled my home last year and the additional expenses led to short term debt.  I pay my bills FIRST.  :)<br>',
       'Credit Refinancing PLEEZE!', '719xx', '170xx', '795xx', '463xx',
       'carcard', 'Credit card juggler', '028xx', 'CreditCardConsolidate',
       'Credit Card Repayment', '032xx', 'Effective Plan for Paying Debt ',
       '662xx', 'debt-free loan', 'Improvements', '166xx', '610xx',
       '731xx',
       'applied and thi is to pay my credit cards and fix my leaking roof',
       '856xx', '478xx', '782xx', '240xx', '371xx', '984xx', '339xx',
       '403xx', '804xx', '019xx', '540xx', '151xx', '465xx',
       'Moving and relocation', '743xx', '322xx', ' etc.<br>', '677xx',
       '444xx', '626xx']
#for variable in variables:
#    X_train.ix[X_train.State == variable] = 'Missing'

In [69]:
#variable = 'State'
#Fill Missing
#X_train[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_train[variable], prefix=variable)
#print dummies
#X_train = pd.concat([X_train, dummies], axis=1)

        State_130xx  State_AK  State_AL  State_AR  State_AZ  State_CA  \
0                 0         0         0         0         0         1
1                 0         0         0         0         0         0
2                 0         0         0         0         0         0
3                 0         0         0         0         0         0
4                 0         0         0         0         0         0
5                 0         0         0         0         0         0
6                 0         0         0         0         0         0
7                 0         0         0         0         0         0
8                 0         0         0         0         0         0
9                 0         0         0         0         0         0
10                0         0         0         0         0         0
11                0         0         0         0         0         0
12                0         0         0         0         0         0
13                0         0         0         0         0         0
14                0         0         0         0         0         1
15                0         0         0         0         0         0
16                0         0         0         0         0         0
17                0         0         0         0         0         0
18                0         0         0         0         0         0
19                0         0         0         0         0         0
20                0         0         0         0         0         0
21                0         0         0         0         1         0
22                0         0         0         0         0         0
23                0         0         0         0         0         1
24                0         0         0         0         0         0
25                0         0         0         0         0         0
26                0         0         0         0         0         0
27                0         0         0         0         0         0
28                0         0         0         0         0         0
29                0         0         0         0         0         0
...             ...       ...       ...       ...       ...       ...
324447            0         0         0         0         0         0
324448            0         0         0         0         0         0
324449            0         0         0         0         0         1
324450            0         0         0         0         0         0
324451            0         0         0         0         0         0
324452            0         0         0         0         0         0
324453            0         0         0         0         0         0
324454            0         0         0         0         0         1
324455            0         0         0         0         0         0
324456            0         0         0         0         0         0
324457            0         0         0         0         0         0
324458            0         0         0         0         0         0
324459            0         0         0         0         0         0
324460            0         0         0         0         0         0
324461            0         0         0         0         0         0
324462            0         0         0         0         0         0
324463            0         0         0         0         0         0
324464            0         0         0         0         0         1
324465            0         0         0         0         0         0
324466            0         0         0         0         0         0
324467            0         0         0         0         0         0
324468            0         0         0         0         0         0
324469            0         0         0         0         0         0
324470            0         0         0         0         0         0
324471            0         0         0         0         0         0
324472            0         0         0         0         0         0
324473            0         0         0         0         0         0
324474            0         0         0         0         1         0
324475            0         0         0         0         0         0
324476            0         0         0         0         0         0

        State_CO  State_CT  State_DC  State_DE    ...     State_SD  State_TN  \
0              0         0         0         0    ...            0         0
1              0         0         0         0    ...            0         0
2              0         0         0         0    ...            0         0
3              0         1         0         0    ...            0         0
4              0         0         0         0    ...            0         0
5              0         0         0         0    ...            0         0
6              0         0         0         0    ...            0         0
7              0         0         0         0    ...            0         0
8              0         0         0         0    ...            0         0
9              0         0         0         0    ...            0         0
10             0         0         0         0    ...            0         0
11             0         0         0         0    ...            0         0
12             0         0         0         0    ...            0         0
13             0         0         0         0    ...            0         0
14             0         0         0         0    ...            0         0
15             0         0         0         0    ...            0         0
16             0         0         0         0    ...            0         0
17             0         0         0         0    ...            0         0
18             0         0         0         0    ...            0         0
19             0         0         0         0    ...            0         0
20             0         0         0         0    ...            0         0
21             0         0         0         0    ...            0         0
22             0         0         0         0    ...            0         0
23             0         0         0         0    ...            0         0
24             0         1         0         0    ...            0         0
25             0         0         0         0    ...            0         0
26             0         0         0         0    ...            0         0
27             0         0         0         0    ...            0         0
28             0         0         0         0    ...            0         0
29             0         0         0         0    ...            0         0
...          ...       ...       ...       ...    ...          ...       ...
324447         0         0         0         0    ...            0         0
324448         0         0         0         0    ...            0         0
324449         0         0         0         0    ...            0         0
324450         0         0         0         0    ...            0         0
324451         0         0         0         0    ...            0         0
324452         0         0         0         0    ...            0         0
324453         0         0         0         0    ...            0         0
324454         0         0         0         0    ...            0         0
324455         0         0         0         0    ...            0         0
324456         0         0         0         0    ...            0         0
324457         0         0         0         0    ...            0         0
324458         0         0         0         0    ...            0         0
324459         0         0         0         0    ...            0         0
324460         0         0         0         0    ...            0         0
324461         0         0         0         0    ...            0         0
324462         0         0         0         0    ...            0         0
324463         0         0         0         0    ...            0         0
324464         0         0         0         0    ...            0         0
324465         0         0         0         0    ...            0         0
324466         0         0         0         0    ...            0         0
324467         0         0         0         0    ...            0         0
324468         0         0         0         0    ...            0         0
324469         0         0         0         0    ...            0         0
324470         0         0         0         0    ...            0         0
324471         0         0         0         0    ...            0         0
324472         0         0         0         0    ...            1         0
324473         0         0         0         0    ...            0         0
324474         0         0         0         0    ...            0         0
324475         0         0         0         0    ...            0         0
324476         0         0         0         0    ...            0         0

        State_TX  State_UT  State_VA  State_VT  State_WA  State_WI  State_WV  \
0              0         0         0         0         0         0         0
1              0         0         0         0         0         0         0
2              0         0         0         0         0         0         0
3              0         0         0         0         0         0         0
4              0         0         0         0         0         0         0
5              1         0         0         0         0         0         0
6              1         0         0         0         0         0         0
7              0         0         0         0         0         0         0
8              0         0         0         0         0         0         0
9              0         0         0         0         0         0         0
10             0         0         0         0         0         0         0
11             0         0         0         0         0         0         0
12             0         0         0         0         0         0         0
13             0         0         0         0         0         0         0
14             0         0         0         0         0         0         0
15             0         0         0         0         0         0         0
16             0         0         0         0         0         0         0
17             0         0         0         0         0         0         0
18             0         0         0         0         1         0         0
19             0         0         0         0         0         0         0
20             0         0         0         0         0         0         0
21             0         0         0         0         0         0         0
22             0         0         0         0         0         0         0
23             0         0         0         0         0         0         0
24             0         0         0         0         0         0         0
25             0         0         0         0         0         0         0
26             0         0         0         0         0         0         0
27             0         0         0         0         0         0         0
28             0         0         0         0         0         0         0
29             0         0         0         0         0         0         0
...          ...       ...       ...       ...       ...       ...       ...
324447         0         0         0         0         0         0         0
324448         0         0         0         0         0         0         0
324449         0         0         0         0         0         0         0
324450         0         0         0         0         0         0         0
324451         1         0         0         0         0         0         0
324452         0         0         0         0         0         0         0
324453         0         0         0         0         0         0         0
324454         0         0         0         0         0         0         0
324455         1         0         0         0         0         0         0
324456         0         0         0         0         0         0         0
324457         0         0         0         0         0         0         0
324458         0         0         0         0         0         0         0
324459         0         0         0         0         0         0         0
324460         0         0         0         0         0         0         0
324461         0         0         0         0         0         0         0
324462         0         0         0         0         1         0         0
324463         0         0         0         0         1         0         0
324464         0         0         0         0         0         0         0
324465         0         0         0         0         0         0         0
324466         0         0         0         0         0         0         0
324467         0         0         0         0         1         0         0
324468         0         0         0         0         0         1         0
324469         0         0         1         0         0         0         0
324470         0         0         0         0         0         0         0
324471         0         0         0         0         0         0         0
324472         0         0         0         0         0         0         0
324473         0         0         0         0         0         0         0
324474         0         0         0         0         0         0         0
324475         0         0         1         0         0         0         0
324476         0         0         1         0         0         0         0

        State_WY
0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
...          ...
324447         0
324448         0
324449         0
324450         0
324451         0
324452         0
324453         0
324454         0
324455         0
324456         0
324457         0
324458         0
324459         0
324460         0
324461         0
324462         0
324463         0
324464         0
324465         0
324466         0
324467         0
324468         0
324469         0
324470         0
324471         0
324472         0
324473         0
324474         0
324475         0
324476         0

[324477 rows x 52 columns]

In [70]:
#X_train.State.unique()

array(['CA', 'NY', 'CT', 'RI', 'TX', 'MA', 'MI', 'KY', 'MS', 'KS', 'GA',
       'NC', 'NJ', 'WA', 'OH', 'AZ', 'IL', 'MD', 'CO', 'WI', 'IN', 'VA',
       'FL', 'NE', 'Missing', 'MO', 'UT', 'LA', 'SC', 'AL', 'TN', 'NH',
       'SD', 'WY', 'ME', 'NM', 'OR', 'MN', 'DC', 'HI', 'NV', 'VT', '130xx',
       'IA', 'PA', 'OK', 'ID', 'DE', 'MT', 'AR', 'WV', 'AK'], dtype=object)

In [71]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['130xx']
#for variable in variables:
#    X_train.ix[X_train.State == variable] = 'Missing'

In [72]:
#X_train.State.unique()

array(['CA', 'NY', 'CT', 'RI', 'TX', 'MA', 'MI', 'KY', 'MS', 'KS', 'GA',
       'NC', 'NJ', 'WA', 'OH', 'AZ', 'IL', 'MD', 'CO', 'WI', 'IN', 'VA',
       'FL', 'NE', 'Missing', 'MO', 'UT', 'LA', 'SC', 'AL', 'TN', 'NH',
       'SD', 'WY', 'ME', 'NM', 'OR', 'MN', 'DC', 'HI', 'NV', 'VT', 'IA',
       'PA', 'OK', 'ID', 'DE', 'MT', 'AR', 'WV', 'AK'], dtype=object)

In [73]:
#X_train[X_train.State.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Annual_Income, Month_Issued, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Home_Owner_MORTGAGE, Home_Owner_Missing, Home_Owner_OTHER, Home_Owner_OWN, Home_Owner_RENT, Income_Verified_Missing, Income_Verified_VERIFIED - income, Income_Verified_VERIFIED - income source, Income_Verified_not verified, Current_Status_Charged Off, Current_Status_Current, Current_Status_Default, Current_Status_Fully Paid, Current_Status_In Grace Period, Current_Status_Late (16-30 days), Current_Status_Late (31-120 days), Current_Status_Missing, Payment_Plan_Ind_Missing, Payment_Plan_Ind_n, Payment_Plan_Ind_y, State_130xx, State_AK, State_AL, State_AR, State_AZ, State_CA, State_CO, State_CT, State_DC, State_DE, State_FL, State_GA, State_HI, State_IA, State_ID, State_IL, State_IN, State_KS, State_KY, State_LA, State_MA, State_MD, State_ME, State_MI, State_MN, State_MO, State_MS, State_MT, State_Missing, State_NC, State_NE, State_NH, State_NJ, State_NM, State_NV, State_NY, ...]
Index: []

[0 rows x 116 columns]

In [71]:
X_train = X_train.drop('State', axis=1)

##Debt_To_Income

In [72]:
X_train[X_train.Debt_To_Income.isnull()]

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Debt_To_Income,...,Initial_Loan_Term_Months_ 36,Initial_Loan_Term_Months_ 60,Loan_Grade_A,Loan_Grade_B,Loan_Grade_C,Loan_Grade_D,Loan_Grade_E,Loan_Grade_F,Loan_Grade_G,Loan_Grade_Missing
5849,14.22%,492858,365230,9600,9600,9600,36,329.13,C,NaN,...,1,0,0,0,1,0,0,0,0,0
12617,5.79%,634737,813133,8000,8000,7450,36,242.62,A,NaN,...,1,0,1,0,0,0,0,0,0,0

In [73]:
X_train.Debt_To_Income.mean

<bound method Series.mean of 0         19.48
1         14.29
2          10.5
3         11.63
4          2.05
5         14.97
6         16.98
7          6.51
8         11.08
9            10
10        22.09
11         9.16
12        15.49
13          6.5
14         9.73
15        13.04
16         2.26
17         7.07
18          3.8
19         2.74
20        16.08
21        17.19
22         2.59
23         7.94
24         7.05
25          8.8
26           10
27         0.28
28         0.28
29         3.72
          ...
324447    16.07
324448    24.73
324449     9.96
324450       12
324451    17.06
324452    36.68
324453    11.95
324454    20.49
324455    22.86
324456    19.32
324457    11.08
324458    17.52
324459     10.4
324460     4.53
324461    29.11
324462    27.25
324463    25.19
324464    12.22
324465    23.02
324466     26.9
324467    10.22
324468     23.9
324469    16.63
324470    16.27
324471    18.49
324472       10
324473    12.97
324474    16.19
324475    11.63
324476    12.03
Name: Debt_To_Income, dtype: object>

In [74]:
X_train.Debt_To_Income = X_train.Debt_To_Income.fillna(X_train.Debt_To_Income.mean)

In [75]:
X_train[X_train.Debt_To_Income.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Initial_Loan_Term_Months_ 36, Initial_Loan_Term_Months_ 60, Loan_Grade_A, Loan_Grade_B, Loan_Grade_C, Loan_Grade_D, Loan_Grade_E, Loan_Grade_F, Loan_Grade_G, Loan_Grade_Missing]
Index: []

[0 rows x 47 columns]

In [79]:
X_train = X_train.drop('Debt_To_Income', axis=1)

##Number_Delinqueny_2yrs

In [79]:
#X_train[X_train.Number_Delinqueny_2yrs.isnull()]

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
12800,15.57%,638758,818197,"$15,000","$15,000","$14,950",60 months,361.36,D,D5,...,0,0,0,0,0,0,0,0,0,0

In [80]:
#Fill with the mean
#X_train.Number_Delinqueny_2yrs = X_train.Number_Delinqueny_2yrs.fillna(X_train.Number_Delinqueny_2yrs.mean)

In [81]:
#X_train[X_train.Number_Delinqueny_2yrs.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Annual_Income, Month_Issued, Zip_3, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Home_Owner_MORTGAGE, Home_Owner_Missing, Home_Owner_OTHER, Home_Owner_OWN, Home_Owner_RENT, Income_Verified_Missing, Income_Verified_VERIFIED - income, Income_Verified_VERIFIED - income source, Income_Verified_not verified, Current_Status_Charged Off, Current_Status_Current, Current_Status_Default, Current_Status_Fully Paid, Current_Status_In Grace Period, Current_Status_Late (16-30 days), Current_Status_Late (31-120 days), Current_Status_Missing, Payment_Plan_Ind_Missing, Payment_Plan_Ind_n, Payment_Plan_Ind_y, State_130xx, State_AK, State_AL, State_AR, State_AZ, State_CA, State_CO, State_CT, State_DC, State_DE, State_FL, State_GA, State_HI, State_IA, State_ID, State_IL, State_IN, State_KS, State_KY, State_LA, State_MA, State_MD, State_ME, State_MI, State_MN, State_MO, State_MS, State_MT, State_Missing, State_NC, State_NE, State_NH, State_NJ, State_NM, State_NV, State_NY, State_OH, ...]
Index: []

[0 rows x 115 columns]

In [80]:
X_train = X_train.drop('Number_Delinqueny_2yrs', axis=1)

##Month_Earliest_Credit

In [81]:
X_train = X_train.drop('Month_Earliest_Credit', axis=1)

##Inquiries_Last_6Mo

In [83]:
#X_train.Inquiries_Last_6Mo.unique()

array(['0', '1', '2', '3', '4', 'Missing', '5', '6', '8', '7',
       'debt_consolidation'], dtype=object)

In [85]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['debt_consolidation']
#for variable in variables:
#    X_train.ix[X_train.Inquiries_Last_6Mo == variable] = 'Missing'

In [86]:
#variable = 'Inquiries_Last_6Mo'
#Fill Missing
#X_train[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_train[variable], prefix=variable)
#X_train = pd.concat([X_train, dummies], axis=1)

In [87]:
#X_train[X_train.Inquiries_Last_6Mo.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Annual_Income, Month_Issued, Zip_3, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code, Home_Owner_MORTGAGE, Home_Owner_Missing, Home_Owner_OTHER, Home_Owner_OWN, Home_Owner_RENT, Income_Verified_Missing, Income_Verified_VERIFIED - income, Income_Verified_VERIFIED - income source, Income_Verified_not verified, Current_Status_Charged Off, Current_Status_Current, Current_Status_Default, Current_Status_Fully Paid, Current_Status_In Grace Period, Current_Status_Late (16-30 days), Current_Status_Late (31-120 days), Current_Status_Missing, Payment_Plan_Ind_Missing, Payment_Plan_Ind_n, Payment_Plan_Ind_y, State_130xx, State_AK, State_AL, State_AR, State_AZ, State_CA, State_CO, State_CT, State_DC, State_DE, State_FL, State_GA, State_HI, State_IA, State_ID, State_IL, State_IN, State_KS, State_KY, State_LA, State_MA, State_MD, State_ME, State_MI, State_MN, State_MO, State_MS, State_MT, State_Missing, State_NC, State_NE, State_NH, State_NJ, State_NM, State_NV, State_NY, State_OH, ...]
Index: []

[0 rows x 125 columns]

In [82]:
X_train = X_train.drop('Inquiries_Last_6Mo', axis=1)

##Months_Since_Deliquency

In [6]:
#X_train.Months_Since_Deliquency.unique()

array([nan, '41', '58', '26', '13', '0', '57', '10', '16', '45', '46',
       '68', '5', '19', '78', '2', '15', '38', '44', '54', '24', '42',
       '22', '8', '60', '23', '76', '14', '9', '59', '11', '28', '30',
       '52', '64', '29', '34', '32', '33', '7', '80', '25', '17', '74',
       '39', '6', '55', '27', '18', '4', '69', '62', '3', '63', '36', '12',
       '47', '21', '56', '70', '35', '53', '49', '20', '31', '43', '81',
       '48', '65', '50', '61', '51', '37', '71', '79', '75', '40', '66',
       '67', '73', '72', 'Mar-85', '77', 'Jan-97', '82', '1', '83', '3.07',
       '95', '        122<br/>Phone/Internet ', 'Oct-88', 'Nov-78',
       ' First Premier 315.68 pmt 20.', '8.45', 'Dec-01', '97', 'May-04',
       'Dec-95', 'Mar-98', 'Oct-98', 'AL', '14.2', 'Jul-87', 'Dec-97',
       '107', 'Jan-01', 'May-89', 'Apr-00', 'Nov-80', '103', 'Oct-97',
       '8.47', '$ 100.00<br/>Regime:', 'Debt Consolidation', 'Jun-92',
       'Aug-00', '106', 'Feb-94', 'Jul-88', '023xx', '335xx', 'Nov-03',
       'Dec-03', 'May-88', 'Apr-91', '15.87', 'May-99', 'Oct-96', 'Sep-82',
       'Apr-97', 'Nov-96', '13.57', 'Oct-79', 'Nov-00', '96', 'Feb-02',
       'Sep-86', 'Nov-98', 'Jul-93', 'Oct-03', 'Jun-89', 'Apr-03',
       'Sep-01', 'Apr-01', '5.56', 'Oct-95', 'Feb-07', 'Jul-99', 'Dec-98',
       '90', 'Sep-00', 'Apr-96', 'Feb-97', 'Dec-99', 'Jul-89', '85',
       '331xx', 'Jan-00', 'Nov-91', 'Aug-01', 'Feb-84', '101', 'Jun-78',
       'Jun-90', 'AZ', 'Sep-95', 'Nov-04', 'Sep-92', '24.89', 'Mar-96',
       'Jan-98', 'Mar-07', 'CT', 'Apr-99', 'Apr-98', '92', 'Jun-88',
       'May-84', 'Jul-96', 'May-08', 'May-01', 'Jan-02', 'Aug-82',
       'May-83', 'Oct-92', 'Aug-96', 'Jul-82', 'Aug-99', 'Nov-90',
       'Nov-05', 'Oct-01', 'Mar-92', 'Jun-96', '750xx', 'Jan-90', 'Nov-94',
       'Mar-91', '93', 'debt_consolidation', 'Jan-99', 'Jul-00', 'Apr-83',
       'Nov-97', 'Jan-85', 'Jul-01', 'Feb-99', 'Jan-94', 'May-06',
       'Feb-96', 'Jan-91', 'Sep-05', '20.67', 'Jun-97', 'Jun-98', 'Nov-73',
       'Nov-01', '116', '152', 'May-80', 'May-05', 'Aug-05', '30.07',
       'Dec-92', 'Apr-07', 'Jan-75', 'Apr-94', 'Jan-87', 'Oct-89',
       'Mar-89', '100', '88', 'Dec-90', 'Jan-93', 'Mar-02', 'Jun-06',
       'Oct-93', 'Jan-71', '148', '30.64', 'Oct-00', '20.78', '94',
       'Sep-02', 'Aug-89', '87', '86', 'Jun-94', 'Jan-96', 'Jun-07',
       'Feb-92', 'Jan-78', 'Jan-05', 'Oct-99', 'Oct-90', 'Aug-91',
       'Apr-95', 'Mar-03', 'Jan-95', 'Nov-02', 'Jan-73', 'Nov-95',
       'Oct-07', 'Sep-87', 'Nov-99', 'Feb-00', 'Apr-89', '91', '126',
       'May-97', 'May-03', 'Apr-86', 'Jun-99', '16.58', 'Aug-90', '15.2',
       '149', 'Aug-04', 'Jul-94', 'Nov-93', 'Apr-04', 'Jul-03', '118',
       'Dec-96', '130', '119', '109', '143', '84', 'Dec-87', 'Jul-05',
       'Jul-90', 'May-90', '20.4', 'Feb-95', 'Jun-00', '15.91', 'Jun-03',
       '131', 'Apr-05', 'Apr-85', '30.36', 'Oct-77', '139', 'Feb-93',
       'Oct-86', '113', 'Jan-92', '129', 'May-00', '102', '29.14',
       'May-02', 'Mar-04', 'Oct-91', 'Dec-00', 'Aug-98', 'Aug-84', '127',
       '122', 'Jul-92', 'Feb-80', 'Jan-04', 'Oct-82', '114', 'Apr-72',
       'Mar-90', 'Nov-74', '99', '115', '14.59', 'Mar-93', 'Jul-95', '110',
       'Dec-83', '23.1', '135', 'May-86', 'Jul-98', 'May-94', '89',
       'Credit card refinancing', 'Mar-01', '121', 'Sep-93', '16.3',
       'Jul-86', 'Oct-85', '56.0', '40.0', '35.0', '57.0', '6.0', '25.0',
       '36.0', '44.0', '62.0', '22.0', '27.0', '30.0', '23.0', '14.0',
       '43.0', '21.0', '34.0', '18.0', '15.0', '49.0', '53.0', '17.0',
       '39.0', '4.0', '5.0', '59.0', '8.0', '47.0', '51.0', '1.0', '76.0',
       '2.0', '20.0', '3.0', '13.0', '71.0', '41.0', '50.0', '33.0', '7.0',
       '73.0', '9.0', '58.0', '12.0', '11.0', '31.0', '24.0', '19.0',
       '77.0', '37.0', '10.0', '48.0', '32.0', '45.0', '54.0', '28.0',
       '74.0', '72.0', '26.0', '46.0', '79.0', '29.0', '80.0', '38.0',
       '75.0', '70.0', '67.0', '16.0', '60.0', '42.0', '78.0', '66.0',
       '52.0', '0.0', '64.0', '65.0', '68.0', '81.0', '63.0', '69.0',
       '55.0', '84.0', '82.0', '61.0', 13.0, 30.0, 36.0, 5.0, 72.0, 73.0,
       33.0, 24.0, 80.0, 35.0, 45.0, 9.0, 76.0, 56.0, 6.0, 40.0, 27.0, 4.0,
       41.0, 49.0, 11.0, 17.0, 47.0, 18.0, 66.0, 37.0, 20.0, 12.0, 14.0,
       34.0, 77.0, 48.0, 46.0, 32.0, 52.0, 63.0, 68.0, 16.0, 44.0, 21.0,
       19.0, 71.0, 57.0, 23.0, 8.0, 22.0, 1.0, 43.0, 59.0, 26.0, 62.0,
       38.0, 7.0, 54.0, 2.0, 78.0, 10.0, 60.0, 61.0, 67.0, 58.0, 75.0,
       70.0, 79.0, 51.0, 39.0, 15.0, 74.0, 50.0, 3.0, 31.0, 28.0, 29.0,
       69.0, 25.0, 0.0, 42.0, 64.0, 65.0, 55.0, 81.0, 53.0, 82.0, 140.0,
       133.0, 88.0, 84.0, 90.0, 83.0, 85.0, 87.0, 86.0, 124.0, 180.0, 91.0,
       170.0, 98.0, 131.0, 94.0, 101.0, 92.0, 96.0, 93.0, 89.0, 134.0,
       105.0, '83.0', '141.0', '85.0', '107.0', '135.0', '97.0', '95.0',
       '91.0', '96.0', '92.0', '93.0', 111.0, 104.0, 99.0], dtype=object)

In [7]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['Mar-85', 'Jan-97', '        122<br/>Phone/Internet ', 'Oct-88', 'Nov-78',
#       ' First Premier 315.68 pmt 20.', '8.45', 'Dec-01', 'May-04',
#       'Dec-95', 'Mar-98', 'Oct-98', 'AL', '14.2', 'Jul-87', 'Dec-97',
#       'Jan-01', 'May-89', 'Apr-00', 'Nov-80', 'Oct-97',
#       '8.47', '$ 100.00<br/>Regime:', 'Debt Consolidation', 'Jun-92',
#       'Aug-00', 'Feb-94', 'Jul-88', '023xx', '335xx', 'Nov-03',
       'Dec-03', 'May-88', 'Apr-91', '15.87', 'May-99', 'Oct-96', 'Sep-82',
       'Apr-97', 'Nov-96', '13.57', 'Oct-79', 'Nov-00', '96', 'Feb-02',
       'Sep-86', 'Nov-98', 'Jul-93', 'Oct-03', 'Jun-89', 'Apr-03',
       'Sep-01', 'Apr-01', '5.56', 'Oct-95', 'Feb-07', 'Jul-99', 'Dec-98',
       'Sep-00', 'Apr-96', 'Feb-97', 'Dec-99', 'Jul-89',
       '331xx', 'Jan-00', 'Nov-91', 'Aug-01', 'Feb-84', '101', 'Jun-78',
       'Jun-90', 'AZ', 'Sep-95', 'Nov-04', 'Sep-92', '24.89', 'Mar-96',
       'Jan-98', 'Mar-07', 'CT', 'Apr-99', 'Apr-98', 'Jun-88',
       'May-84', 'Jul-96', 'May-08', 'May-01', 'Jan-02', 'Aug-82',
       'May-83', 'Oct-92', 'Aug-96', 'Jul-82', 'Aug-99', 'Nov-90',
       'Nov-05', 'Oct-01', 'Mar-92', 'Jun-96', '750xx', 'Jan-90', 'Nov-94',
       'Mar-91', 'debt_consolidation', 'Jan-99', 'Jul-00', 'Apr-83',
       'Nov-97', 'Jan-85', 'Jul-01', 'Feb-99', 'Jan-94', 'May-06',
       'Feb-96', 'Jan-91', 'Sep-05', '20.67', 'Jun-97', 'Jun-98', 'Nov-73',
       'Nov-01', 'May-80', 'May-05', 'Aug-05', '30.07',
       'Dec-92', 'Apr-07', 'Jan-75', 'Apr-94', 'Jan-87', 'Oct-89',
       'Mar-89', 'Dec-90', 'Jan-93', 'Mar-02', 'Jun-06',
       'Oct-93', 'Jan-71', '30.64', 'Oct-00', '20.78', 
       'Sep-02', 'Aug-89', 'Jun-94', 'Jan-96', 'Jun-07',
       'Feb-92', 'Jan-78', 'Jan-05', 'Oct-99', 'Oct-90', 'Aug-91',
       'Apr-95', 'Mar-03', 'Jan-95', 'Nov-02', 'Jan-73', 'Nov-95',
       'Oct-07', 'Sep-87', 'Nov-99', 'Feb-00', 'Apr-89', 
       'May-97', 'May-03', 'Apr-86', 'Jun-99', '16.58', 'Aug-90', '15.2',
       'Aug-04', 'Jul-94', 'Nov-93', 'Apr-04', 'Jul-03', 
       'Dec-96', 'Dec-87', 'Jul-05',
       'Jul-90', 'May-90', '20.4', 'Feb-95', 'Jun-00', '15.91', 'Jun-03',
       'Apr-05', 'Apr-85', '30.36', 'Oct-77', 'Feb-93',
       'Oct-86', 'Jan-92', 'May-00', '29.14',
       'May-02', 'Mar-04', 'Oct-91', 'Dec-00', 'Aug-98', 'Aug-84',
     'Jul-92', 'Feb-80', 'Jan-04', 'Oct-82',  'Apr-72',
       'Mar-90', 'Nov-74', '14.59', 'Mar-93', 'Jul-95', 
       'Dec-83', '23.1', 'May-86', 'Jul-98', 'May-94', 
       'Credit card refinancing', 'Mar-01',  'Sep-93', 
       'Jul-86', 'Oct-85']
#for variable in variables:
    X_train.ix[X_train.Months_Since_Deliquency == variable] = 'Missing'

In [8]:
#X_train.Months_Since_Deliquency.unique()

array([nan, '41', '58', '26', '13', '0', '57', '10', '16', '45', '46',
       '68', '5', '19', '78', '2', '15', '38', '44', '54', '24', '42',
       '22', '8', '60', '23', '76', '14', '9', '59', '11', '28', '30',
       '52', '64', '29', '34', '32', '33', '7', '80', '25', '17', '74',
       '39', '6', '55', '27', '18', '4', '69', '62', '3', '63', '36', '12',
       '47', '21', '56', '70', '35', '53', '49', '20', '31', '43', '81',
       '48', '65', '50', '61', '51', '37', '71', '79', '75', '40', '66',
       '67', '73', '72', 'Missing', '77', '82', '1', '83', '3.07', '95',
       '97', '107', '103', '106', '90', '85', '92', '93', '116', '152',
       '100', '88', '148', '94', '87', '86', '91', '126', '149', '118',
       '130', '119', '109', '143', '84', '131', '139', '113', '129', '102',
       '127', '122', '114', '99', '115', '110', '135', '89', '121', '16.3',
       '56.0', '40.0', '35.0', '57.0', '6.0', '25.0', '36.0', '44.0',
       '62.0', '22.0', '27.0', '30.0', '23.0', '14.0', '43.0', '21.0',
       '34.0', '18.0', '15.0', '49.0', '53.0', '17.0', '39.0', '4.0',
       '5.0', '59.0', '8.0', '47.0', '51.0', '1.0', '76.0', '2.0', '20.0',
       '3.0', '13.0', '71.0', '41.0', '50.0', '33.0', '7.0', '73.0', '9.0',
       '58.0', '12.0', '11.0', '31.0', '24.0', '19.0', '77.0', '37.0',
       '10.0', '48.0', '32.0', '45.0', '54.0', '28.0', '74.0', '72.0',
       '26.0', '46.0', '79.0', '29.0', '80.0', '38.0', '75.0', '70.0',
       '67.0', '16.0', '60.0', '42.0', '78.0', '66.0', '52.0', '0.0',
       '64.0', '65.0', '68.0', '81.0', '63.0', '69.0', '55.0', '84.0',
       '82.0', '61.0', 13.0, 30.0, 36.0, 5.0, 72.0, 73.0, 33.0, 24.0, 80.0,
       35.0, 45.0, 9.0, 76.0, 56.0, 6.0, 40.0, 27.0, 4.0, 41.0, 49.0, 11.0,
       17.0, 47.0, 18.0, 66.0, 37.0, 20.0, 12.0, 14.0, 34.0, 77.0, 48.0,
       46.0, 32.0, 52.0, 63.0, 68.0, 16.0, 44.0, 21.0, 19.0, 71.0, 57.0,
       23.0, 8.0, 22.0, 1.0, 43.0, 59.0, 26.0, 62.0, 38.0, 7.0, 54.0, 2.0,
       78.0, 10.0, 60.0, 61.0, 67.0, 58.0, 75.0, 70.0, 79.0, 51.0, 39.0,
       15.0, 74.0, 50.0, 3.0, 31.0, 28.0, 29.0, 69.0, 25.0, 0.0, 42.0,
       64.0, 65.0, 55.0, 81.0, 53.0, 82.0, 140.0, 133.0, 88.0, 84.0, 90.0,
       83.0, 85.0, 87.0, 86.0, 124.0, 180.0, 91.0, 170.0, 98.0, 131.0,
       94.0, 101.0, 92.0, 96.0, 93.0, 89.0, 134.0, 105.0, '83.0', '141.0',
       '85.0', '107.0', '135.0', '97.0', '95.0', '91.0', '96.0', '92.0',
       '93.0', 111.0, 104.0, 99.0], dtype=object)

In [9]:
#X_train.ix[X_train.Months_Since_Deliquency == '16.3'] = 'Missing'

In [10]:
#X_train.Months_Since_Deliquency.unique()

array([nan, '41', '58', '26', '13', '0', '57', '10', '16', '45', '46',
       '68', '5', '19', '78', '2', '15', '38', '44', '54', '24', '42',
       '22', '8', '60', '23', '76', '14', '9', '59', '11', '28', '30',
       '52', '64', '29', '34', '32', '33', '7', '80', '25', '17', '74',
       '39', '6', '55', '27', '18', '4', '69', '62', '3', '63', '36', '12',
       '47', '21', '56', '70', '35', '53', '49', '20', '31', '43', '81',
       '48', '65', '50', '61', '51', '37', '71', '79', '75', '40', '66',
       '67', '73', '72', 'Missing', '77', '82', '1', '83', '3.07', '95',
       '97', '107', '103', '106', '90', '85', '92', '93', '116', '152',
       '100', '88', '148', '94', '87', '86', '91', '126', '149', '118',
       '130', '119', '109', '143', '84', '131', '139', '113', '129', '102',
       '127', '122', '114', '99', '115', '110', '135', '89', '121', '56.0',
       '40.0', '35.0', '57.0', '6.0', '25.0', '36.0', '44.0', '62.0',
       '22.0', '27.0', '30.0', '23.0', '14.0', '43.0', '21.0', '34.0',
       '18.0', '15.0', '49.0', '53.0', '17.0', '39.0', '4.0', '5.0',
       '59.0', '8.0', '47.0', '51.0', '1.0', '76.0', '2.0', '20.0', '3.0',
       '13.0', '71.0', '41.0', '50.0', '33.0', '7.0', '73.0', '9.0',
       '58.0', '12.0', '11.0', '31.0', '24.0', '19.0', '77.0', '37.0',
       '10.0', '48.0', '32.0', '45.0', '54.0', '28.0', '74.0', '72.0',
       '26.0', '46.0', '79.0', '29.0', '80.0', '38.0', '75.0', '70.0',
       '67.0', '16.0', '60.0', '42.0', '78.0', '66.0', '52.0', '0.0',
       '64.0', '65.0', '68.0', '81.0', '63.0', '69.0', '55.0', '84.0',
       '82.0', '61.0', 13.0, 30.0, 36.0, 5.0, 72.0, 73.0, 33.0, 24.0, 80.0,
       35.0, 45.0, 9.0, 76.0, 56.0, 6.0, 40.0, 27.0, 4.0, 41.0, 49.0, 11.0,
       17.0, 47.0, 18.0, 66.0, 37.0, 20.0, 12.0, 14.0, 34.0, 77.0, 48.0,
       46.0, 32.0, 52.0, 63.0, 68.0, 16.0, 44.0, 21.0, 19.0, 71.0, 57.0,
       23.0, 8.0, 22.0, 1.0, 43.0, 59.0, 26.0, 62.0, 38.0, 7.0, 54.0, 2.0,
       78.0, 10.0, 60.0, 61.0, 67.0, 58.0, 75.0, 70.0, 79.0, 51.0, 39.0,
       15.0, 74.0, 50.0, 3.0, 31.0, 28.0, 29.0, 69.0, 25.0, 0.0, 42.0,
       64.0, 65.0, 55.0, 81.0, 53.0, 82.0, 140.0, 133.0, 88.0, 84.0, 90.0,
       83.0, 85.0, 87.0, 86.0, 124.0, 180.0, 91.0, 170.0, 98.0, 131.0,
       94.0, 101.0, 92.0, 96.0, 93.0, 89.0, 134.0, 105.0, '83.0', '141.0',
       '85.0', '107.0', '135.0', '97.0', '95.0', '91.0', '96.0', '92.0',
       '93.0', 111.0, 104.0, 99.0], dtype=object)

In [16]:
#X_train.ix[X_train.Months_Since_Deliquency == 'Missing'] = 'NaN'

In [24]:
#X_train.Months_Since_Deliquency.astype(float)

0        NaN
1        NaN
2         41
3         58
4         26
5         13
6        NaN
7        NaN
8          0
9        NaN
10        57
11        10
12       NaN
13        16
14       NaN
15        45
16        46
17         0
18       NaN
19       NaN
20         0
21       NaN
22         0
23         0
24       NaN
25        68
26         5
27       NaN
28         0
29         0
          ..
324447    64
324448    34
324449   NaN
324450   NaN
324451   NaN
324452    37
324453   NaN
324454   NaN
324455     5
324456   NaN
324457    23
324458   NaN
324459     5
324460    59
324461   NaN
324462   NaN
324463    15
324464   NaN
324465    25
324466    21
324467    43
324468   NaN
324469     8
324470   NaN
324471    60
324472   NaN
324473     9
324474     5
324475    12
324476   NaN
Name: Months_Since_Deliquency, dtype: float64

In [25]:
#X_train.Months_Since_Deliquency.mean

<bound method Series.mean of 0         NaN
1         NaN
2          41
3          58
4          26
5          13
6         NaN
7         NaN
8           0
9         NaN
10         57
11         10
12        NaN
13         16
14        NaN
15         45
16         46
17          0
18        NaN
19        NaN
20          0
21        NaN
22          0
23          0
24        NaN
25         68
26          5
27        NaN
28          0
29          0
         ...
324447     64
324448     34
324449    NaN
324450    NaN
324451    NaN
324452     37
324453    NaN
324454    NaN
324455      5
324456    NaN
324457     23
324458    NaN
324459      5
324460     59
324461    NaN
324462    NaN
324463     15
324464    NaN
324465     25
324466     21
324467     43
324468    NaN
324469      8
324470    NaN
324471     60
324472    NaN
324473      9
324474      5
324475     12
324476    NaN
Name: Months_Since_Deliquency, dtype: object>

In [83]:
X_train = X_train.drop('Months_Since_Deliquency', axis=1)

##Months_Since_Record

In [84]:
X_train = X_train.drop('Months_Since_Record', axis=1)

##Number_Open_Accounts

In [29]:
#X_train.Number_Open_Accounts.unique()

array(['10', '7', '14', '6', '13', '11', '5', '3', '4', '2', '16', '8',
       '12', '17', '15', '21', '9', '19', '23', '24', '0', '22', '42',
       '35', '111', '31', '20', '18', '25', '41', '29', '28', 'NaN', nan,
       '27', '26', 'Dec-90', '30', '34', '1', '36', '38', '33', '50', '43',
       '32', '117', '39', '88', '53', '113', '100', '116', '37', '49',
       '92', '45', '86', '68', '44', '12.0', '22.0', '7.0', '9.0', '13.0',
       '16.0', '8.0', '11.0', '15.0', '20.0', '10.0', '17.0', '6.0',
       '21.0', '14.0', '5.0', '4.0', '19.0', '3.0', '25.0', '18.0', '2.0',
       '24.0', '23.0', '26.0', '29.0', '27.0', '30.0', '107.0', '46.0',
       '35.0', '28.0', '34.0', '33.0', '37.0', '31.0', '115', '61', '80',
       '76', '89', '78', '95', '84', '105', '54', '52', '90', '40', '46',
       '91.0', '0.0', '1.0', '108.0', '48.0', '95.0', '38.0', '114.0',
       '40.0', '115.0', '90.0', '41.0', '36.0', '93.0', '116.0', '32.0',
       '73.0', '97', '101', '112', '99', '88.0', '94.0', '103.0', '62.0',
       '74', '118', '104.0', '111.0', '39.0', '97.0', '77', '51', '45.0',
       '77.0', '108', '72.0', '109.0', '44.0', '99.0', '87', '64', '67',
       '58', '42.0', '100.0', '69.0', '106.0', '65.0', '106', '57', '73',
       '82.0', '112.0', '43.0', 10.0, 18.0, 19.0, 13.0, 38.0, 12.0, 6.0,
       15.0, 14.0, 7.0, 8.0, 4.0, 20.0, 16.0, 5.0, 23.0, 9.0, 17.0, 11.0,
       26.0, 22.0, 21.0, 24.0, 3.0, 29.0, 25.0, 27.0, 30.0, 28.0, 2.0,
       32.0, 36.0, 31.0, 37.0, 40.0, 39.0, 35.0, 34.0, 33.0, 1.0, 43.0,
       44.0, 45.0, 42.0, 49.0, 51.0, 41.0, 48.0, 58.0, 82.0, 61.0, 76.0,
       47.0, 83.0, 54.0, 55.0, 50.0, 53.0, 65.0, 75.0, 84.0, 52.0], dtype=object)

In [31]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['NaN', 'Dec-90']
#for variable in variables:
#    X_train.ix[X_train.Number_Open_Accounts == variable] = '0'

In [37]:
#X_train.Number_Open_Accounts = X_train.Number_Open_Accounts.astype(float).fillna(0.0)

In [38]:
#X_train.Number_Open_Accounts.unique()

array([  10.,    7.,   14.,    6.,   13.,   11.,    5.,    3.,    4.,
          2.,   16.,    8.,   12.,   17.,   15.,   21.,    9.,   19.,
         23.,   24.,    0.,   22.,   42.,   35.,  111.,   31.,   20.,
         18.,   25.,   41.,   29.,   28.,   27.,   26.,   30.,   34.,
          1.,   36.,   38.,   33.,   50.,   43.,   32.,  117.,   39.,
         88.,   53.,  113.,  100.,  116.,   37.,   49.,   92.,   45.,
         86.,   68.,   44.,  107.,   46.,  115.,   61.,   80.,   76.,
         89.,   78.,   95.,   84.,  105.,   54.,   52.,   90.,   40.,
         91.,  108.,   48.,  114.,   93.,   73.,   97.,  101.,  112.,
         99.,   94.,  103.,   62.,   74.,  118.,  104.,   77.,   51.,
         72.,  109.,   87.,   64.,   67.,   58.,   69.,  106.,   65.,
         57.,   82.,   47.,   83.,   55.,   75.])

In [39]:
#X_train.Number_Open_Accounts.describe()

count    324477.000000
mean         11.171528
std           5.202344
min           0.000000
25%           8.000000
50%          10.000000
75%          14.000000
max         118.000000
Name: Number_Open_Accounts, dtype: float64

In [40]:
#X_train[X_train.Number_Open_Accounts.isnull()]

Empty DataFrame
Columns: [Interest_Rate, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [85]:
X_train = X_train.drop('Number_Open_Accounts', axis=1)

##Public_Record_Count

In [41]:
#X_train.Public_Record_Count.unique()

array(['0.0', '1.0', '2.0', '16.0', '4.0', '0', '7.0', '11.0', '10.0',
       '6.0', '14.0', '13.0', '3.0', '12.0', '8.0', '18.0', nan, '1', '2',
       '8', '7', '15', '20', '10', '3', '14', '5', '4', '6', '22', '9',
       '18', '16', '13', '19', '11', '12', '37', '17', '31', '21', '39',
       '24', '41', '5.0', '15.0', '9.0', '19.0', '20.0', 0.0, 1.0, 15.0,
       8.0, 5.0, 9.0, 6.0, 10.0, 14.0, 17.0, 2.0, 13.0, 7.0, 16.0, 11.0,
       19.0, 12.0, 20.0, 3.0, 4.0, 21.0, 25.0, 27.0, 32.0, 18.0, 22.0,
       23.0, 47.0, 29.0, 31.0, 54.0, 26.0, 49.0, 28.0, 24.0, 34.0, 44.0,
       63.0], dtype=object)

In [42]:
#X_train.Public_Record_Count = X_train.Public_Record_Count.astype(float).fillna(0.0)

In [43]:
#X_train.Public_Record_Count.unique()

array([  0.,   1.,   2.,  16.,   4.,   7.,  11.,  10.,   6.,  14.,  13.,
         3.,  12.,   8.,  18.,  15.,  20.,   5.,  22.,   9.,  19.,  37.,
        17.,  31.,  21.,  39.,  24.,  41.,  25.,  27.,  32.,  23.,  47.,
        29.,  54.,  26.,  49.,  28.,  34.,  44.,  63.])

In [86]:
X_train = X_train.drop('Public_Record_Count', axis=1)

In [87]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Revolving_Balance

In [88]:
X_train = X_train.drop('Revolving_Balance', axis=1)

##Revolving_Utilization

In [20]:
#X_train.Revolving_Utilization.unique()

array(['52.10%', '76.70%', '66.30%', ..., '134.30%', '5929', '144887'], dtype=object)

In [89]:
X_train = X_train.drop('Revolving_Utilization', axis=1)

##Total_Accounts

In [90]:
#X_test.Total_Accounts.unique()

In [ ]:
X_train = X_train.drop('Total_Accounts', axis=1)

##Initial_Status

In [23]:
#X_test.Initial_Status.unique()

array(['f', 'w', '26', '27', '0', '28', '30', '11.50%', '18795', '14',
       '32', '17', '19.30%', nan, '18', '32.90%', '45.60%', '42', '23',
       '73.60%', '12', '78.80%', '36', '52.70%', '19', '45', '21',
       '87.90%', '34', '10', '25', '15', '48.60%', '6428', '24%', '20',
       '11', '37', '33', '57', '44', '79.30%', '22.60%', '55.10%',
       '15.40%', '16', '50', '93.10%', '27.10%', '77.30%', '36.20%',
       '51.80%', '19322', '40', '7199', '49', '58', '22', '29.80%',
       '23.60%', '24', '7102', '97.10%', '87.40%', '7', '13.10%', '35',
       '6217', '38%', '61.40%', '55.30%', '43.90%', '43', '79.70%', '13',
       '47.20%', '37602', '56.10%', '2100', '41', '29', '24.30%', '56.40%',
       '39', '56', '97.20%', '64.20%', '52', '92.70%', '60.30%', '62.50%',
       '21.80%', '31', '20132', '55', '80.20%', '28.50%', '50.50%', ' ',
       '0%', '23.10%', '49.30%', '61.30%', '88%', '51', '70.50%', '23.20%',
       '89.90%', '84.50%', '38', '46.10%', '36%', '17.60%', '59', '71.30%',
       '47', '9', '6', '8', '53.40%', '93.70%', '72.70%', '30.90%', '53',
       '69.90%', '7221', '49.90%', '81%', '015xx', '29647', '15.80%',
       '40%', '90.20%', '29.10%', '44.90%', '76.10%', '8153', '9264',
       '59.20%', '33.50%', '9074', '65%', '32.80%', '71%', '58.10%', '53%',
       '73%', '71.20%', '35.50%', '14%', '67.30%', '65.90%', '55%',
       '53.90%', '35.20%', '4', '84.70%', '26%', '70%', '17746', '71.40%',
       '24110', '48', '87.70%', '16.90%', '76.70%', '85.50%', '52.10%',
       '16%', '46.20%', '80.60%', '77.60%', '65.30%', '99.20%', '42.80%',
       '96.30%', '79.50%', '91.10%'], dtype=object)

In [31]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['26', '27', '0', '28', '30', '11.50%', '18795', '14',
       '32', '17', '19.30%', '18', '32.90%', '45.60%', '42', '23',
       '73.60%', '12', '78.80%', '36', '52.70%', '19', '45', '21',
       '87.90%', '34', '10', '25', '15', '48.60%', '6428', '24%', '20',
       '11', '37', '33', '57', '44', '79.30%', '22.60%', '55.10%',
       '15.40%', '16', '50', '93.10%', '27.10%', '77.30%', '36.20%',
       '51.80%', '19322', '40', '7199', '49', '58', '22', '29.80%',
       '23.60%', '24', '7102', '97.10%', '87.40%', '7', '13.10%', '35',
       '6217', '38%', '61.40%', '55.30%', '43.90%', '43', '79.70%', '13',
       '47.20%', '37602', '56.10%', '2100', '41', '29', '24.30%', '56.40%',
       '39', '56', '97.20%', '64.20%', '52', '92.70%', '60.30%', '62.50%',
       '21.80%', '31', '20132', '55', '80.20%', '28.50%', '50.50%', ' ',
       '0%', '23.10%', '49.30%', '61.30%', '88%', '51', '70.50%', '23.20%',
       '89.90%', '84.50%', '38', '46.10%', '36%', '17.60%', '59', '71.30%',
       '47', '9', '6', '8', '53.40%', '93.70%', '72.70%', '30.90%', '53',
       '69.90%', '7221', '49.90%', '81%', '015xx', '29647', '15.80%',
       '40%', '90.20%', '29.10%', '44.90%', '76.10%', '8153', '9264',
       '59.20%', '33.50%', '9074', '65%', '32.80%', '71%', '58.10%', '53%',
       '73%', '71.20%', '35.50%', '14%', '67.30%', '65.90%', '55%',
       '53.90%', '35.20%', '4', '84.70%', '26%', '70%', '17746', '71.40%',
       '24110', '48', '87.70%', '16.90%', '76.70%', '85.50%', '52.10%',
       '16%', '46.20%', '80.60%', '77.60%', '65.30%', '99.20%', '42.80%',
       '96.30%', '79.50%', '91.10%']
for variable in variables:
    X_test.ix[X_test.Initial_Status == variable] = 'Missing'

In [32]:
#X_test.Initial_Status.unique()

array(['f', 'w', 'Missing', nan], dtype=object)

In [33]:
#X_test[X_test.Initial_Status.isnull()]

,Unnamed: 0,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
1784,1784,1252554,1494991,"$15,000","$15,000","$14,750",36 months,512.6,NaN,NaN,...,0,0,18445.76,18138.25,15000,3445.76,0,0,0,May-15
6747,6747,748955,948098,"$12,000","$12,000","$11,975",60 months,263.86,B,B4,...,0,0,12115.14,12089.9,12000,115.14,0,0,0,Jun-11

In [36]:
#X_test.Initial_Status.fillna("Missing", inplace=True)

In [37]:
#X_test[X_test.Initial_Status.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [38]:
#X_test.Initial_Status.unique()

array(['f', 'w', 'Missing'], dtype=object)

In [39]:
#variable = 'Initial_Status'
#Fill Missing
#X_test[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_test[variable], prefix=variable)
#X_test = pd.concat([X_test, dummies], axis=1)

In [91]:
X_train = X_train.drop('Initial_Status', axis=1)

##Outstanding_Principal

In [6]:
#X_test.Outstanding_Principal.unique()

array(['4095.97', '2259.21', '0', ..., '3002.01', '3959.75', '19655.8'], dtype=object)

In [8]:
#Fill with the mean
#X_test.Outstanding_Principal = X_test.Outstanding_Principal.fillna(X_test.Outstanding_Principal.mean)

In [9]:
#X_test[X_test.Outstanding_Principal.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [92]:
X_train = X_train.drop('Outstanding_Principal', axis=1)

##Outstanding_Principal_Remaining

In [10]:
#X_test.Outstanding_Principal_Remaining.unique()

array(['4061.84', '2259.21', '0', ..., '3959.75', '14809.61', '19655.8'], dtype=object)

In [11]:
#Fill with the mean
#X_test.Outstanding_Principal_Remaining = X_test.Outstanding_Principal_Remaining.fillna(X_test.Outstanding_Principal_Remaining.mean)

In [12]:
#X_test[X_test.Outstanding_Principal.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [93]:
X_train = X_train.drop('Outstanding_Principal_Remaining', axis=1)

##Total_Payment

In [13]:
#X_test.Total_Payment.unique()

array(['2627.82', '3230.6', '20374.03', ..., 5443.0, 7429.24, 4379.7], dtype=object)

In [14]:
#Fill with the mean
#X_test.Total_Payment = X_test.Total_Payment.fillna(X_test.Total_Payment.mean)

In [15]:
#X_test[X_test.Total_Payment.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [94]:
X_train = X_train.drop('Total_Payment', axis=1)

##Total_Payment_Funded

In [16]:
#X_test.Total_Payment_Funded.unique()

array(['2605.92', '3230.6', '20374.03', ..., 6121.24, 7429.24, 4379.7], dtype=object)

In [17]:
#Fill with the mean
#X_test.Total_Payment_Funded = X_test.Total_Payment_Funded.fillna(X_test.Total_Payment_Funded.mean)

In [18]:
#X_test[X_test.Total_Payment_Funded.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [95]:
X_train = X_train.drop('Total_Payment_Funded', axis=1)

##Total_Received

In [96]:
#X_test.Total_Received.unique()

In [21]:
#Fill with the mean
#X_test.Total_Received = X_test.Total_Received.fillna(X_test.Total_Received.mean)

In [22]:
#X_test[X_test.Total_Received.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [97]:
X_train = X_train.drop('Total_Received', axis=1)

##Total_Received_Interest

In [23]:
#X_test.Total_Received_Interest.unique()

array(['723.79', '1114.81', '2874.03', ..., 4447.55, 1402.75, 3885.04], dtype=object)

In [24]:
#Fill with the mean
#X_test.Total_Received_Interest = X_test.Total_Received_Interest.fillna(X_test.Total_Received_Interest.mean)

In [25]:
#X_test[X_test.Total_Received_Interest.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [98]:
X_train = X_train.drop('Total_Received_Interest', axis=1)

##Total_Received_Late_Fees

In [26]:
#X_test.Total_Received_Late_Fees.unique()

array([0.0, 19.41, 15.46, ..., 29.9169230769, 32.97, 2762.59], dtype=object)

In [27]:
#Fill with the mean
#X_test.Total_Received_Late_Fees = X_test.Total_Received_Late_Fees.fillna(X_test.Total_Received_Late_Fees.mean)

In [28]:
#X_test[X_test.Total_Received_Late_Fees.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [99]:
X_train = X_train.drop('Total_Received_Late_Fees', axis=1)

##Recoveries

In [29]:
#X_test.Recoveries.unique()

array([0.0, 350.23, 745.7, ..., 98.65, 6185.05, 191.67], dtype=object)

In [30]:
#Fill with the mean
#X_test.Recoveries = X_test.Recoveries.fillna(X_test.Recoveries.mean)

In [31]:
#X_test[X_test.Recoveries.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [100]:
X_train = X_train.drop('Recoveries', axis=1)

In [101]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Collection_Recovery_Fee

In [33]:
#X_test.Collection_Recovery_Fee.unique()

array([0.0, 3.45, 7.4570000001, ..., 17.01, 1051.4584999856, 2.04], dtype=object)

In [34]:
#Fill with the mean
#X_test.Collection_Recovery_Fee = X_test.Collection_Recovery_Fee.fillna(X_test.Collection_Recovery_Fee.mean)

In [35]:
#X_test[X_test.Collection_Recovery_Fee.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [102]:
X_train = X_train.drop('Collection_Recovery_Fee', axis=1)

##Last_Payment_Received

In [103]:
X_train = X_train.drop('Last_Payment_Received', axis=1)

##Last_Payment_Total

In [38]:
#X_test.Last_Payment_Total.unique()

array(['202.14', '161.53', '15004.64', ..., '6417.17', '222.21', '8706.37'], dtype=object)

In [39]:
#Fill with the mean
#X_test.Last_Payment_Total = X_test.Last_Payment_Total.fillna(X_test.Last_Payment_Total.mean)

In [40]:
#X_test[X_test.Last_Payment_Total.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [104]:
X_train = X_train.drop('Last_Payment_Total', axis=1)

In [105]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

##Next_Payment_Date

In [106]:
X_train = X_train.drop('Next_Payment_Date', axis=1)

##Last_Credit_Pulled

In [107]:
X_train = X_train.drop('Last_Credit_Pulled', axis=1)

##Collections_12Mo_Exclude_Med

In [43]:
#X_test.Collections_12Mo_Exclude_Med.unique()

array(['0', '1', 'Jun-15', '6', 'Jan-15', 'Dec-14', 'Nov-14', nan,
       '410.66', 'Apr-15', 'Oct-12', 'Dec-13', 'Aug-15', 'Feb-14',
       'May-13', 'Jul-15', 'Jun-14', 'Mar-15', '2', 'May-15', '319.17',
       '4', 'Oct-14', 'Feb-15', 'Jan-14', 'Jul-14', '250.33', '675', '3',
       'Sep-14', '530.64', '2225.46', '11816.11', 'Jun-13', 'Oct-10',
       '467.11', '213.24', 'Oct-13', 'Aug-14', 'Mar-14', 'Aug-13', '191.5',
       'Aug-99', 'May-14', 'Sep-13', 'Apr-13', 'Nov-13', 'Jul-12',
       'May-11', '360.21', 'Jul-13', 'Nov-12', 'Apr-14', '7663.58',
       '332.72', 'Mar-13', '336.9', '279.38', '353.24', '13004.36',
       'Oct-11', '747.88', '608.72', 'Jan-12', 'Dec-11', 'Apr-12'], dtype=object)

In [44]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['Jun-15', 'Jan-15', 'Dec-14', 'Nov-14',
       '410.66', 'Apr-15', 'Oct-12', 'Dec-13', 'Aug-15', 'Feb-14',
       'May-13', 'Jul-15', 'Jun-14', 'Mar-15',  'May-15', '319.17',
       'Oct-14', 'Feb-15', 'Jan-14', 'Jul-14', '250.33', '675', 
       'Sep-14', '530.64', '2225.46', '11816.11', 'Jun-13', 'Oct-10',
       '467.11', '213.24', 'Oct-13', 'Aug-14', 'Mar-14', 'Aug-13', '191.5',
       'Aug-99', 'May-14', 'Sep-13', 'Apr-13', 'Nov-13', 'Jul-12',
       'May-11', '360.21', 'Jul-13', 'Nov-12', 'Apr-14', '7663.58',
       '332.72', 'Mar-13', '336.9', '279.38', '353.24', '13004.36',
       'Oct-11', '747.88', '608.72', 'Jan-12', 'Dec-11', 'Apr-12']
#for variable in variables:
#    X_test.ix[X_test.Collections_12Mo_Exclude_Med == variable] = 'Missing'

In [45]:
#X_test[X_test.Collections_12Mo_Exclude_Med.isnull()]

,Unnamed: 0,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
875,875,1587790,1857510,"$4,000","$4,000","$4,000",36 months,121.75,A,A1,...,4000,234.39,0,0,0,Dec-13,2654.1,NaN,Jun-15,0
1727,1727,1331181,1576156,"$35,000","$35,000","$34,975",36 months,1141.56,NaN,NaN,...,35000,4268.58,0,0,0,Nov-13,21020.56,NaN,Feb-15,0
2981,2981,1322115,1567110,"$22,000","$22,000","$21,750",36 months,688.39,A,A4,...,22000,2537.55,0,0,0,Aug-14,7337.2,NaN,Aug-14,0
3031,3031,92552,92542,"$5,000","$5,000",$375,36 months,161.25,B,B5,...,0,0,0,Jul-10,162.07,NaN,Jun-10,NaN,NaN,1
3869,3869,1111072,1347868,"$10,000","$10,000","$10,000",36 months,325.74,B,B2,...,10000,1720.63,0,0,0,Jan-15,661.55,NaN,Mar-15,0
4164,4164,12686813,14698991,"$25,000","$25,000","$25,000",36 months,802.82,B,B1,...,25000,2386.56,0,0,0,May-15,16949.9,NaN,May-15,0
5315,5315,1224744,1465635,"$10,000","$10,000","$10,000",36 months,337.47,B,B4,...,10000,2145.53,0,0,0,Apr-15,348.16,NaN,Apr-15,0
6371,6371,681279,870267,"$8,000","$8,000","$8,000",36 months,256.76,B,B1,...,8000,1241.16,0,0,0,Mar-14,267.51,NaN,Mar-14,0
7185,7185,773868,975955,"$15,000","$15,000","$14,750",60 months,333.6,B,B5,...,15000,4154.04,0,0,0,Jul-14,7181.88,NaN,Jun-15,0
9847,9847,3641055,4593716,"$21,000","$21,000","$21,000",36 months,654.39,A,A3,...,21000,1678.86,0,0,0,Feb-15,499.11,NaN,Feb-15,0
9893,9893,10794684,12686831,"$5,000","$5,000","$5,000",36 months,155.81,A,A3,...,5000,272.09,0,0,0,Dec-14,1510.39,NaN,Dec-14,0.0
10744,10744,1557742,1824723,"$25,000","$25,000","$24,975",60 months,545.31,NaN,NaN,...,6833.85,4047.71,0,2567.01,25.4237,Jun-14,545.31,NaN,Nov-14,0
11897,11897,1463606,1719378,"$12,000","$12,000","$12,000",36 months,412.06,C,C1,...,12000,683.68,0,0,0,Jan-13,11038.09,NaN,Feb-13,0
13309,13309,3359448,4173289,"$6,000","$6,000","$5,975",36 months,202.49,NaN,NaN,...,6000,888.91,0,0,0,Aug-14,3208.78,NaN,Sep-14,0
14115,14115,1180627,1422402,"$12,000","$12,000","$12,000",36 months,375.49,A,A4,...,12000,1408.18,0,0,0,Jun-14,3649.35,NaN,Jun-15,0
14362,14362,1692981,1975701,"$7,500","$7,500","$7,500",36 months,230.28,NaN,NaN,...,3561.33,579.96,0,538.41,5.3841,May-14,230.28,NaN,Oct-14,0
14881,14881,1342141,1586702,"$8,875","$8,875","$8,875",36 months,303.29,C,C1,...,2780.5,1152.52,0,0,0,Jul-13,303.29,NaN,Dec-13,0
17388,17388,93277,93254,"$3,000","$3,000",$950,36 months,94.98,B,B1,...,0,0.0,0,Jul-10,97.45,NaN,Jul-10,NaN,NaN,1
21424,21424,2084784,2416947,"$18,550","$18,550","$18,525",36 months,580.44,A,A4,...,18550,1957.51,0,0,0,Oct-14,8321.63,NaN,Oct-14,0
23020,23020,885704,1101525,"$5,000","$5,000","$5,000",36 months,167.73,B,B5,...,5000,1033.89,0,0,0,Oct-14,183.22,NaN,Jun-15,0
23913,23913,625065,801078,"$3,000","$3,000","$2,975",36 months,90.99,A,A2,...,3000,99.86,0,0,0,Dec-11,284.53,NaN,Feb-12,0
27170,27170,5196565,6518874,"$27,000","$27,000","$27,000",36 months,885.74,B,B2,...,27000,3856.22,0,0,0,Jan-15,14027.43,NaN,Jan-15,0
27209,27209,870288,1084202,"$2,200","$2,200","$2,200",36 months,73.07,B,B5,...,2200,429.96,0,0,0,Sep-14,73.38,NaN,Jun-15,0
27616,27616,759435,959675,"$8,500","$8,500","$8,250",36 months,280.26,B,B4,...,8500,1585.44,0,0,0,Jun-14,297.78,NaN,May-14,0
28916,28916,5649188,7031582,"$15,000","$15,000","$15,000",36 months,499.08,B,B3,...,15000,1233.41,0,0,0,Mar-14,12243.25,NaN,Mar-14,0
30834,30834,87023,86999,"$7,500","$7,500",$800,36 months,255.43,E,E2,...,0,0.0,0,Jun-10,256.59,NaN,Jun-10,NaN,NaN,1
32193,32193,661576,846074,"$9,000","$9,000","$9,000",60 months,196.18,B,B5,...,9000,2272.95,0,0,0,Jul-14,150.63,NaN,Jul-14,0
33578,33578,1495765,1755916,"$20,000","$20,000","$19,975",36 months,720.75,D,D1,...,20000.0,2895.5,0.0,0,0,Aug-13,15698.03,NaN,Oct-13,0
35337,35337,704510,896528,"$17,600","$17,600","$17,475",60 months,474.66,G,G3,...,17600,907.68,0,0,0,Jul-11,17563.96,NaN,Jun-14,0
35357,35357,1524267,1788368,"$32,000","$32,000","$32,000",60 months,907.26,F,F2,...,32000.0,13547.64,0.0,0,0,Oct-14,23817.27,NaN,Nov-14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77485,77485,100214,100208,"$5,000","$5,000","$3,675",36 months,155.38,A,A2,...,0,0,0,Aug-10,157.74,NaN,Jun-07,NaN,NaN,1
78489,78489,690875,881352,"$10,625","$10,625","$10,521",36 months,327.69,A,A3,...,10625,714.2,0,0,0,May-12,7085.4,NaN,Jun-15,0
81233,81233,1062462,1294525,"$25,000","$25,000","$25,000",36 months,921.72,E,E3,...,25000,7200.35,0,0,0,May-14,3405.45,NaN,May-14,0
82270,82270,879162,1093977,"$12,475","$12,475","$12,475",36 months,383.03,A,A2,...,12475,1312.34,0,0,0,Sep-14,396.08,NaN,Jun-15,0
83861,83861,4834659,6106810,"$10,000","$10,000","$10,000",36 months,328.06,B,B2,...,10000,1369.96,0,0,0,Dec-14,5465.15,NaN,Jun-15,0
89085,89085,1578350,1847101,"$13,150","$13,150","$13,150",36 months,478.65,D,D2,...,13150,3913.45,0,0,0,Mar-15,3673.57,NaN,Mar-15,0
89743,89743,12418939,14431091,"$11,000","$11,000","$11,000",36 months,370.59,B,B5,...,11000,1496.39,0,0,0,Jun-15,7308.13,NaN,Jun-15,0
90755,90755,92666,92661,"$5,000","$5,000",$525,36 months,159.77,B,B3,...,0,0.0,0,Jul-10,161.55,NaN,Jun-07,NaN,NaN,1
90880,90880,90665,90607,"$8,500","$8,500",$875,36 months,275.38,C,C1,...,0,0.0,0,Jul-10,281.94,NaN,Jul-10,NaN,NaN,1
91645,91645,1258276,1501428,"$4,200","$4,200","$4,200",36 months,127.83,NaN,NaN,...,4200,172.67,0,0,0,Apr-13,97.54,NaN,Feb-14,0
92633,92633,111227,111223,"$20,000","$20,000","$2,800",36 months,678.08,E,E1,...,0,0.0,0,Feb-10,678.08,NaN,Jul-10,NaN,NaN,1
94593,94593,1142699,1383435,"$14,000","$14,000","$14,000",36 months,438.07,A,A4,...,14000,1769.64,0,0,0,Mar-15,441.33,NaN,Mar-15,0
94653,94653,1288165,1532351,"$14,000","$14,000","$13,998",36 months,478.42,C,C1,...,14000,3209.91,0,0,0,Mar-15,1445.99,NaN,Jun-15,0
96929,96929,4286644,5478966,"$6,000","$6,000","$6,000",36 months,216.23,D,D1,...,1810.92,999.37,0,0,0,May-14,216.23,NaN,Apr-15,0.0
100160,100160,3298296,4070908,"$8,000","$8,000","$8,000",36 months,280.47,C,C3,...,8000,1253.36,0,0,0,Jul-14,5607.25,NaN,Jun-15,0
100990,100990,1091433,1328795,"$5,825","$5,825","$5,825",36 months,181.23,A,A3,...,5825,566.41,0,0,0,Oct-13,2778.53,NaN,Jun-15,0
101114,101114,3807679,4851442,"$15,000","$15,000","$15,000",36 months,499.08,B,B3,...,6000.45,1981.23,0,0,0,Aug-14,499.08,NaN,Dec-14,0
102253,102253,764749,965506,"$13,650","$13,650","$13,375",36 months,421.41,A,A3,...,13650,289.28,0,0,0,Apr-12,153.7,NaN,Apr-12,0
105964,105964,109355,109346,"$1,200","$1,200",$0,36 months,39.6,C,C5,...,0,0,0,Jul-10,39.45,NaN,Jul-10,NaN,NaN,1
108001,108001,1271432,1515240,"$8,400","$8,400","$8,350",36 months,279.49,B,B3,...,3356.4,1108.24,0,701.63,7.016299996,Sep-13,279.49,NaN,Feb-14,0
108431,108431,10100402,11951951,"$13,225","$13,225","$13,225",36 months,491.29,D,D5,...,1696.21,1251.1,0,1652.45,16.5245000013,Jul-14,491.29,NaN,Dec-14,0.0
108801,108801,1485624,1744579,"$8,300","$8,300","$8,300",36 months,285.01,C,C1,...,8300,1477.61,0,0,0,May-14,495.75,NaN,Jun-15,0
109225,109225,602038,772467,"$6,000","$6,000","$6,000",36 months,193.58,B,B4,...,6000,909.32,0,0,0,Mar-13,1701.45,NaN,Jun-15,0
110877,110877,559490,720217,"$5,500","$5,500","$5,000",36 months,179.42,B,B2,...,5500,97.86,0,0,0,Nov-10,1.93,NaN,Mar-13,0
111382,111382,697926,889299,"$11,500","$11,500","$11,500",36 months,428.03,G,G1,...,11499.97,2178.77,0,0,0,Apr-12,8546.96,NaN,Mar-15,0
111544,111544,102376,95212,"$25,000","$25,000",$525,36 months,813.65,C,C2,...,0,0,0,Jun-10,3.54,NaN,Jun-10,NaN,NaN,1
113041,113041,7099694,8761722,"$10,075","$10,075","$10,075",36 months,339.71,B,B5,...,10075,110.29,0,0,0,Oct-13,10185.58,NaN,Oct-13,0
113645,113645,117056,117046,"$5,000","$5,000","$1,475",36 months,156.11,A,A3,...,0,0,0,Jan-10,1221.57,NaN,Jan-10,NaN,NaN,1
115848,115848,1267824,1511227,"$3,000","$3,000","$3,000",36 months,96.47,B,B1,...,3000,377.56,0,0,0,Mar-14,856.06,NaN,Mar-14,0
116806,116806,1009392,1236113,"$13,000","$13,000","$12,750",36 months,429.99,B,B3,...,13000,2475.48,0,0,0,Nov-14,446.35,NaN,Jun-15,0

In [47]:
#Fill with the mean
#X_test.Collections_12Mo_Exclude_Med = X_test.Collections_12Mo_Exclude_Med.fillna("Missing")

In [48]:
#X_test[X_test.Collections_12Mo_Exclude_Med.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Loan_ID, Borrower_ID, Loan_Amount_Requested, Loan_Amount_Funded, Loan_Amount_Funded_by_Investors, Initial_Loan_Term_Months, Monthly_Payment, Loan_Grade, Sub_Loan_Grade, Employer, Length_Employed, Home_Owner?, Annual_Income, Income_Verified, Month_Issued, Current_Status, Payment_Plan_Ind, Loan_Description, Purpose_Of_Loan, Loan_Title, Zip_3, State, Debt_To_Income, Number_Delinqueny_2yrs, Month_Earliest_Credit, Inquiries_Last_6Mo, Months_Since_Deliquency, Months_Since_Record, Number_Open_Accounts, Public_Record_Count, Revolving_Balance, Revolving_Utilization, Total_Accounts, Initial_Status, Outstanding_Principal, Outstanding_Principal_Remaining, Total_Payment, Total_Payment_Funded, Total_Received, Total_Received_Interest, Total_Received_Late_Fees, Recoveries, Collection_Recovery_Fee, Last_Payment_Received, Last_Payment_Total, Next_Payment_Date, Last_Credit_Pulled, Collections_12Mo_Exclude_Med, Months_Since_Last_Derogatory, Policy_Code]
Index: []

[0 rows x 51 columns]

In [49]:
#X_test.Collections_12Mo_Exclude_Med.unique()

array(['0', '1', 'Missing', '6', '2', '4', '3'], dtype=object)

In [50]:
#variable = 'Collections_12Mo_Exclude_Med'
#Fill Missing
#X_test[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_test[variable], prefix=variable)
#X_test = pd.concat([X_test, dummies], axis=1)

In [108]:
X_train = X_train.drop('Collections_12Mo_Exclude_Med', axis=1)

##Months_Since_Last_Derogatory

In [53]:
#X_test.Months_Since_Last_Derogatory.unique()

array(['47.0', nan, '33', '40.0', '29', '48.0', '62.0', '17.0', '67', '21',
       '52', '55', '44.0', '76.0', '26.0', '34', '29.0', '49.0', '43',
       '61', '23.0', '38', '31.0', '44', '2.0', '9', '14', '20.0',
       'Missing', '65', '59.0', '11', '78.0', '69', '67.0', '75.0', '4.0',
       '26', '39', '61.0', '70.0', '42', '16.0', '56', '32.0', '72.0',
       '24.0', '19.0', '30', '78', '63.0', '66.0', '25', '5', '73.0', '37',
       '69.0', '25.0', '62', '42.0', '31', '12.0', '7', '7.0', '81.0',
       '55.0', '13', '77.0', '14.0', '43.0', '57.0', '51.0', '32', '74.0',
       '58.0', '4', '27.0', '15', '22', '64', '36', '24', '36.0', '35.0',
       '52.0', '49', '81', '22.0', '35', '41.0', '57', '46.0', '59', '72',
       '19', '16', '60', '47', '65.0', '27', '39.0', '80.0', '2', '50',
       '58', '106', '66', 'Jun-15', '15.0', '10.0', '8', '79.0', '20',
       '71.0', '13.0', '77', '75', '79', '28', '28.0', '53', '8.0', '80',
       '74', '37.0', '17', '54', '23', '10', '45', '76', '34.0', '60.0',
       '54.0', '89.0', '12', '73', '9.0', '68', '45.0', '48', '18',
       '100.0', '40', '11.0', 'Feb-15', '0', '53.0', '64.0', '46', '90',
       '118', '63', '71', '5.0', '112.0', '33.0', '30.0', '41', '102.0',
       '56.0', '70', '82.0', '6.0', '50.0', '82', '18.0', '21.0', 'Aug-14',
       '51', '91.0', '38.0', '3', 'Mar-15', 'May-15', '68.0', '1.0', '85',
       '6', '93', '135.0', 'Apr-15', '101.0', '3.0', '85.0', '113.0',
       'Mar-14', '107.0', '93.0', '84', '88', '83.0', '84.0', '111.0',
       '96.0', '1', '104.0', 'Dec-14', '154.0', '86.0', 'Nov-14', '103.0',
       '95', 'Feb-13', '94.0', '95.0', 'Sep-14', '88.0', '151.0', 'Oct-14',
       '121.0', 'Dec-13', '141.0', '119.0', '124.0', '114.0', '144.0',
       '87.0', '110.0', '125.0', '108.0', '142.0', '0.0', '112', '118.0',
       'Feb-12', '120.0', '83', '98.0', '109', '97', '124', '92.0', '94',
       'Jan-15', 'May-14', '136.0', '106.0', 'Jul-14', '128.0', '140.0',
       'Oct-13', '143.0', '86', '101', 'Jun-14', '126.0', '129.0', '89',
       'Nov-12', '127.0', 'Apr-14', 'Mar-13', 'May-13', '133.0', '109.0',
       '99.0', '111', 'Feb-14', '134', '91', '99', '139.0', '87', '188.0',
       '146.0', '130.0', '159', '141', 'Jan-12', '97.0', '105.0', '139',
       '133', '100', '104', '103', '114', '92', '117.0', '108', '156',
       '116.0', '127', '117', '107', '90.0', '146', 'Apr-12', '147.0',
       '122.0', '120', '119', '102'], dtype=object)

In [109]:
X_train = X_train.drop('Months_Since_Last_Derogatory', axis=1)

##Policy_Code

In [55]:
#X_test.Policy_Code.unique()

array(['1', '1.0', 'Missing', '0', 'May-15', 'Jun-11', '0.0', '981.45',
       1.0, 0.0], dtype=object)

In [57]:
#If value is not within the specified values
# (the list, 'variables' is not specified'), set values to Missing
#variables = ['0', 'May-15', 'Jun-11', '0.0', '981.45', 0.0]
#for variable in variables:
#    X_test.ix[X_test.Policy_Code == variable] = 'Missing'

In [58]:
#X_test.Policy_Code.unique()

array(['1', '1.0', 'Missing', 1.0], dtype=object)

In [59]:
#variable = 'Policy_Code'
#Fill Missing
#X_test[variable].fillna("Missing", inplace=True)
#Create dummy array
#dummies = pd.get_dummies(X_test[variable], prefix=variable)
#X_test = pd.concat([X_test, dummies], axis=1)

In [60]:
#X_test.Policy_Code.unique()

array(['1', '1.0', 'Missing', 1.0], dtype=object)

In [110]:
X_train = X_train.drop('Policy_Code', axis=1)

In [111]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

In [112]:
X_train = X_train.drop('Total_Accounts', axis=1)

In [113]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

In [34]:
y_train = X_train.pop("Interest_Rate")

KeyError: 'Interest_Rate'

In [35]:
#Look at all the columns in the dataset
def printall(X_train,max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X_train.to_html(max_rows=max_rows)))
printall(X_train)

In [36]:
y_train

NameError: name 'y_train' is not defined

In [117]:
y_train = y_train.str.replace('%','')

In [118]:
y_train = y_train.fillna(y_train.mean)

In [37]:
y_train = y_train.astype('float')

NameError: name 'y_train' is not defined

In [120]:
from sklearn.ensemble import RandomForestRegressor

In [121]:
from sklearn.metrics import roc_auc_score

In [127]:
#Get numeric variables and ignore categorical variables
numeric_variables = list(X_train.dtypes[X_train.dtypes != "object"].index)
X_train[numeric_variables].head()

,Loan_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment,Initial_Loan_Term_Months_ 36,Initial_Loan_Term_Months_ 60,Loan_Grade_A,Loan_Grade_B,Loan_Grade_C,Loan_Grade_D,Loan_Grade_E,Loan_Grade_F,Loan_Grade_G,Loan_Grade_Missing
0,54734,25000,25000,19080,829.10,1,0,0,1,0,0,0,0,0,0
1,55742,7000,7000,673,228.22,1,0,0,1,0,0,0,0,0,0
2,57167,25000,25000,24725,891.20,1,0,0,0,0,1,0,0,0,0
3,57416,10800,10800,10692,366.86,1,0,0,0,1,0,0,0,0,0
4,58524,7200,7200,7200,264.11,1,0,0,0,0,1,0,0,0,0

In [1]:
#Get numeric variables and ignore categorical variables
numeric_variables = list(y_train.dtypes[y_train.dtypes != "object"].index)
y_train[numeric_variables].head()

NameError: name 'y_train' is not defined

In [128]:
model = RandomForestRegressor(n_estimators=100, oob_score = True, random_state=42)

# Use only numeric variables
model.fit(X_train[numeric_variables], y_train)

TypeError: float() argument must be a string or a number